@font-face {
  font-family: 'FontAwesome';
  src: url("../files/fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../files/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format('embedded-opentype'), url("../files/fonts/fontawesome-webfont.woff2?v=4.4.0") format('woff2'), url("../files/fonts/fontawesome-webfont.woff?v=4.4.0") format('woff'), url("../files/fonts/fontawesome-webfont.ttf?v=4.4.0") format('truetype'), url("../files/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.black {
  color: #000;
}
.red {
  color: #c32e26;
}
.red2 {
  color: #a0251e;
}

.gray2 {
  color: #666;
}
.gray3 {
  color: #808080;
}
.gray4 {
  color: #b3b3b3;
}
.gray5 {
  color: #e6e6e6;
}
.white1 {
  color: #fafafa;
}
.white2 {
  color: #fff;
}
/* normalize.css v1.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:link,
a:visited,
a:hover,
a:focus,
button:active,
button:hover,
button:visited,
button:focus,
input:focus {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html * {
  font-family: HelveticaNeue-regular, arial;
  color: #626262;
}
main {
  font-size: 1.6rem;
}
html,
body {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
*:focus {
  outline: none !important;
}
::-webkit-input-placeholder {
  color: #808080;
}
:-moz-placeholder {
/* Firefox 18- */
  color: #808080;
}
::-moz-placeholder {
/* Firefox 19+ */
  color: #808080;
}
:-ms-input-placeholder {
  color: #808080;
}
.btn, .btn:hover {
  height: 30px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 15px;
  background-color: #FB1E33;
  color:#fff;
  width: 238px !important;
}
input[type="text"],
input[type="search"] {
  font-size: 13px;
}

.form-input {
  height: 30px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-input:hover,
.form-input:focus {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-select {
  height: 30px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-select:hover,
.form-select:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.multiselect-container>li>a>label {
  padding: 0 0 0 20px;
}
.form-group {
  position: relative;
}
.form-group label {
  font-weight: 500;
  font-size: 13px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.form-group label+ input[type="text"],
.form-group label+ select {
  padding: 0;
  font-weight: 500;
  font-size: 14px;
}
.form-group label.on {
  color: #c32e26;
}
.form-group .input-on-focus {
  padding: 0;
  margin-bottom: 10px;
  display: block;
  clear: both;
}
.form-group .input-on-focus:focus {
  color: #333;
  border-color: #c32e26;
}
.form-group .show-password {
  position: absolute;
  top: 5px;
  left: auto;
  right: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.form-group .show-password:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.form-group textarea {
  resize: none;
}
.display-table {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.display-table .display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.big-center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  max-width: 1200px;
}
.center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  max-width: 980px;
}
.small-center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  max-width: 310px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.none {
  display: none;
}
.error {
  border: 1px solid #f00 !important;
}
.error-message {
  width: 100%;
  font-size: 12px;
  height: 20px;
  display: block;
  margin-top: 3px;
}
.ico {
  display: inline-block;
}
.ico-dots {
  background-image: url("../images/sprite.png");
  background-position: -54px 0px;
  width: 24px;
  height: 25px;
}
.ico-user {
  background-image: url("../images/sprite.png");
  background-position: -20px -56px;
  width: 20px;
  height: 20px;
}
.ico-lock {
  background-image: url("../images/sprite.png");
  background-position: 0px -56px;
  width: 20px;
  height: 20px;
}
.ico-eyes {
  background-image: url("../images/sprite.png");
  background-position: -48px -31px;
  width: 24px;
  height: 25px;
}
.ico-edit {
  background-image: url("../images/sprite.png");
  background-position: -24px -31px;
  width: 24px;
  height: 25px;
}
.ico-delete {
  background-image: url("../images/sprite.png");
  background-position: -30px 0px;
  width: 24px;
  height: 25px;
}
.ico-selected {
  background-image: url("../images/sprite.png");
  background-position: 0px 0px;
  width: 30px;
  height: 31px;
}
.ico-recover {
  background-image: url("../images/sprite.png");
  background-position: -78px 0px;
  width: 24px;
  height: 25px;
}
.ico-download {
  background-image: url("../images/sprite.png");
  background-position: 0px -31px;
  width: 24px;
  height: 25px;
}
.ico-upload {
  background-image: url("../images/sprite.png");
  background-position: -78px -25px;
  width: 24px;
  height: 25px;
}
.title {
  font-size: 22px;
  color: #b3b3b3;
  font-weight: 300;
}
.btn {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-danger {
  border-color: #c32e26;
  background-color: #c32e26;
}
.btn-danger:hover {
  border-color: #a0251e;
  background-color: #a0251e;
}
.btn-gray {
  color: #fff;
  background-color: #b3b3b3;
}
.btn-default {
  border: none;
  color: #808080;
  font-weight: 500;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:visited {
  border: none;
  color: #808080;
  background-color: transparent;
}
.modal-title {
  color: #626262;
  text-align: center;
  font-family: "HelveticaNeue-Thin";
}
.modal-header {
  margin: 0;
}
.modal-header .close {
  margin-top: -11px; 
   font-size: 40px; 
   font-weight: 300; 
   opacity: 1;    
   right: 13px;
}
.modal-body {
  padding-bottom: 40px;
  font-size: 16px;
  margin: 0;
}
.modal-header_aside {
  position: absolute;
  top: -3px;
  right: 20px;
}
.modal-header_aside .modal-header_aside_title {
  font-size: 13px;
  display: block;
  clear: both;
  text-align: right;
}
.modal-header_aside .modal-header_aside_detail {
  font-size: 13px;
  display: block;
  clear: both;
  text-align: right;
  padding: 0;
}
.moda-footer {
  padding: 20px 15px;
}
.icheckbox_square-grey.checked {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.table tr.tr-selected {
  background: rgba(195,46,38,0.2);
}
.table tr.tr-disabled > * {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.table thead {
  border-bottom: solid 1px #ddd;
  height: 55px;

}
.table th {
  padding: 8px;
  border-bottom: none !important;
  /*cursor: pointer;*/
  vertical-align: middle !important;
}
.table td {
  height: 50px;
  padding: 0 15px;
  padding-top:25px !important;
  margin: 0;
  font-size: 15px;
  border-top: none !important;
  font-weight: 400;
}
.table td.text {
  line-height: 1.5 !important;
}
.tableservicios{
  width: 97%;
}
.pgservicios {
    margin-bottom: 30px;
    margin-top: 30px !important;
}
.tableservicios td{
    padding-top: 0 !important;
     padding-bottom: 0 !important;
     color:#b3b3b3;
}
.table_radio-buttons {
  width: 40px;
  height: 20px;
  margin-top: 13px;
  position: relative;
}
.table_radio-buttons .radio-buttons_ball {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  -webkit-transition: left 0.3s, background-color 0.3s, border-color 0.3s;
  -moz-transition: left 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: left 0.3s, background-color 0.3s, border-color 0.3s;
  -ms-transition: left 0.3s, background-color 0.3s, border-color 0.3s;
  transition: left 0.3s, background-color 0.3s, border-color 0.3s;
}
.table_radio-buttons .radio-buttons_line {
  width: 40px;
  height: 2px;
  display: inline-block;
  margin: 0 0 17px 0;
  background-color: #a0251e;
  -webkit-transition: background-color 0.3s 0.1s;
  -moz-transition: background-color 0.3s 0.1s;
  -o-transition: background-color 0.3s 0.1s;
  -ms-transition: background-color 0.3s 0.1s;
  transition: background-color 0.3s 0.1s;
}
.table_radio-buttons.table_radio-buttons-on .radio-buttons_ball {
  left: 20px;
  border: 2px solid #c32e26;
  background-color: #c32e26;
}
.table_radio-buttons.table_radio-buttons-on .radio-buttons_line {
  background-color: #c32e26;
}
.table_radio-buttons.table_radio-buttons-off .radio-buttons_ball {
  left: 0px;
  border: 2px solid #666;
  background-color: #fff;
}
.table_radio-buttons.table_radio-buttons-off .radio-buttons_line {
  background-color: #b3b3b3;
}
.load-img-here {
  display: block;
  margin: 0 auto;
}
.btn-uploader-container {
  position: relative;
  cursor: pointer;
  display: block;
  clear: both;
  margin: 30px auto 0 auto;
}

.btn-uploader-container input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.two-languages-texts {
  margin-top: 50px;
  border: 1px solid #b3b3b3;
  position: relative;
}
.two-languages-texts input,
.two-languages-texts textarea {
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 500;
}
.two-languages-texts textarea {
  height: 70px !important;
}
.two-languages-texts .tab-content {
  padding: 20px 10px;
}
.language_tabs {
  position: absolute;
  left: 0;
  top: -30px;
}
.language_tabs .tab_a {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 7px;
}
.language_tabs .tab_a.left {
  margin-right: 25px;
}
.language_tabs .tab_a * {
  padding-bottom: 7px;
  text-decoration: none;
}
.language_tabs .tab_a *:visited {
  color: #b3b3b3;
}
.language_tabs .tab_a.active *,
.language_tabs .tab_a:hover * {
  color: #c32e26;
  border-bottom: 2px solid #f00;
}
.main {
    display: block;
    height: 100%;
    margin: 0 auto;
    min-width: 1300px !important;
    width: 100%;
}
#deactivate-product-modal .modal-dialog,
#delete-rol-modal .modal-dialog,
#restore-user-pass-modal .modal-dialog {
  width: 360px;
}
#new-rol-modal .modal-dialog,
#view-rol-modal .modal-dialog,
#new-category-modal .modal-dialog {
  width: 600px;
}
#new-rol-modal .new-rol_description,
#view-rol-modal .new-rol_description,
#new-category-modal .new-rol_description {
  font-size: 12px;
  margin: 23px 0;
  display: block;
}
#new-rol-modal .new-rol_permits > div,
#view-rol-modal .new-rol_permits > div,
#new-category-modal .new-rol_permits > div {
  margin-bottom: 25px;
}
#new-rol-modal .role-title,
#view-rol-modal .role-title,
#new-category-modal .role-title {
  width: 100%;
  margin-top: 0;
  font-size: 25px;
  font-weight: 500;
}
#new-category-modal .modal-dialog {
  width: 600px;
}
#new-category-modal .category-img {
  border: 1px solid #b3b3b3;
  display: block;
  margin: 0 auto;
}
#new-user-modal .modal-dialog,
#view-user-modal .modal-dialog {
  width: 700px;
}
#new-user-modal .modal-body,
#view-user-modal .modal-body {
  padding-top: 25px;
}
#new-user-modal .multiselect-group .btn-default,
#new-category-modal .multiselect-group .btn-default {
  width: 100%;
  text-align: left;
  text-transform: none;
  background: url("../images/select-arrow.png") no-repeat center right transparent !important;
  border-bottom: 1px solid #e6e6e6;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#new-user-modal .multiselect-group .btn-group,
#new-category-modal .multiselect-group .btn-group {
  height: 38px;
  display: block;
}
#new-user-modal .multiselect-group .btn-group.open .dropdown-toggle,
#new-category-modal .multiselect-group .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
}
#new-user-modal .multiselect-group .btn-group>.btn:first-child,
#new-category-modal .multiselect-group .btn-group>.btn:first-child {
  padding-left: 0;
}
#set-default-country-modal .modal-dialog {
  width: 390px;
}
#new-catalogue-modal .modal-dialog {
  width: 800px;
}
#new-catalogue-modal .btn-uploader-container.two {
  margin: 0;
  width: 30%;
  clear: none;
}
#new-catalogue-modal .input-file-container {
  width: 100%;
  height: 31px;
}
.main_menu {
  width: 208px;
  height: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  background-image: url("../images/Hb_web__Menu_background.png");
  z-index: 3;
  border-right: 1px solid #e6e6e6;
  background-size: cover;
}
.main_menu .menu_logo {
  display: block;
  margin: 19px auto;
}
.main_menu .menu_title {
  font-weight: 300;
  margin-bottom: 3px;
  font-size: 26px;
}
.main_menu .menu_options {
  width: 100%;
  float: left;
  position: relative;
}
.main_menu .menu_options:hover .menu_options_list {
  display: block;
}
.main_menu .menu_options .menu_options_name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 25px;
  overflow: hidden;
}
.main_menu .menu_options .menu_options_name .ico-dots {
  float: right;
  line-height: 20px;
}
.main_menu .menu_options .menu_options_list {
  width: 150px;
  position: absolute;
  right: 20px;
  top: 25px;
  -webkit-box-shadow: 0px 2px 11px #333;
  box-shadow: 0px 2px 11px #333;
  z-index: 2;
  background: #fff;
  display: none;
}
.main_menu .menu_options .menu_options_list .option {
  width: 100%;
  height: 32px;
  padding: 0 15px;
  display: block;
  font-size: 13px;
  vertical-align: middle;
  line-height: 32px;
  font-weight: 500;
  text-decoration: none;
}
.main_menu .menu_options .menu_options_list .option:hover {
  color: #000;
}
.main_menu .menu_options .menu_options_list .bg-gray {
  background-color: #e6e6e6;
}
.main_menu .menu_options-container {
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.main_menu #menu-options {
  margin-top: 15px;
  margin-bottom: 10px;
}
.main_menu #menu-options .form-control {
  width: 45%;
  padding: 0;
  font-size: 12px;
}
.main_menu .nav_link {
  display: block;
  clear: both;
  color: #A5A5A5;
  font-family: HelveticaNeue-regular, arial;
  text-align: right;
  padding: 5px 12px 5px 5px;
  font-size: 15px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}
.main_menu .nav_link:hover,
.main_menu .nav_link.on {
  color: #626262;
  background: #D7D7D7;
   border-radius: 0 50px 50px 0;
}
.main_content {
  height: 100%;
  margin-left: 192px;
  background-color: #F2F2F2;
}
.section .section_header {
  background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e6e6e6;
    min-width: 890px;
    padding-bottom: 10px;
    padding-top: 6px;
    padding-right: 20px;
    position: fixed;
    width: calc(100% - 208px);
    z-index: 11;
}
.section .section_header.section_header-inside-product {
  padding-bottom: 15px;
}
.section .section_header_title {
    color: #666;
    float: left;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 45px;
    padding: 0 0 0 20px;
    width: 40%;
    font-family: HelveticaNeue-Thin;
}
.category-section .section_header_arrow {
  float: left;
  margin: -5px 0 0px 15px;
}
.category-section .section_header_arrow .fa-angle-left {
  float: left;
  font-size: 38px;
}
.category-section .section_header_arrow .horizontal-line {
  float: left;
  width: 18px;
  height: 3px;
  display: inline-block;
  margin: 19px 0 0 -10px;
  background-color: #808080;
}
.category-section .section_header_right {
  width: 75%;
  float: left;
  padding-right: 20px;
}
.category-section .section_header_status {
  position: absolute;
  top: 18px;
  right: 20px;
}
.category-section .section_header_status .section_header_title {
  font-size: 13px;
  display: block;
  clear: both;
  text-align: right;
}
.category-section .section_header_status .section_header_detail {
  font-size: 13px;
  display: block;
  clear: both;
  text-align: right;
  padding: 0;
}
.category-section .product-filter {
  text-align: right;
}
.category-section .product-filter .product-name {
  margin: 0 10px 0 30px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.category-section .product-filter .product-category {
  width: 165px;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
}
.category-section .product-filter .btn {
  width: 100px;
}
.category-section .product-filter .filter-footer {
  height: 30px;
  margin: 8px 0 5px 0;
  padding: 0;
}
.category-section .product-filter .filter-footer .product-filter_btn {
  display: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.category-section .product-filter .product-filter_btn {
  background: transparent;
  border: none;
  margin-right: 30px;
  text-decoration: none;
}
.category-section .product-filter .product-filter_btn.product-filter_btn-last {
  margin-right: 0;
}
.category-section .product-filter .product-filter_btn.filter_btn-visible {
  display: inline-block;
}
.category-section .product-filter .product-filter_btn .new-text {
  font-size: 15px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
}
.category-section .product-filter .product-filter_btn .ico {
  line-height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  font-size: 28px;
  font-weight: 300;
}
.category-section .dataTables_filter label {
  display: none;
}
.category-section .dataTables_filter .product-name {
  display: none;
}
.section_content {
  min-width: 950px;
  position: relative;
  left: 0;
  top: 105px;
}
.login-section .login-section_logo {
  display: block;
  margin: 100px auto 80px auto;
}
#login-form .login-form_btn {
  margin-top: 45px;
}
#login-form .ico-lock,
#login-form .ico-user {
  position: absolute;
  left: 3px;
  top: 5px;
}
#login-form .form-group {
  position: relative;
}
#login-form .form-group.last {
  margin-top: 33px;
}
#login-form .form-input {
  padding: 6px 33px;
}
.section_content-inside-product {
  padding: 50px;
  top: 79px;
}

.section_content-inside-product .btn-uploader-container {
  width: 120px;
  display: block;
  clear: both;
  margin: 30px auto 0 auto;
}
.section_content-inside-product .inside-product_right .form-group {
  margin-bottom: 25px;
}
.section_content-inside-product .inside-product_right .product_right_label,
.section_content-inside-product .inside-product_right .product_right_text {
  padding: 0;
  clear: both;
  display: block;
}
.section_content-inside-product .inside-product_right .checkbox-text {
  margin: 0 0 7px 5px;
  display: inline-block;
}
.section_content-inside-product .two-languages-texts {
  height: 300px;
}
.section_content-inside-product .inside-product_bottom {
  width: 100%;
  float: left;
  margin-top: 25px;
  padding-top: 35px;
  border-top: 1px solid #e6e6e6;
}
.section_content-inside-product .inside-product_bottom .form-group {
  margin-bottom: 40px;
}
.section_content-inside-product .inside-product_bottom thead {
  background-color: transparent;
  border-bottom: 1px solid #e6e6e6;
}
.section_content-inside-product .inside-product_bottom td {
  font-size: 14px;
}
.section_content-inside-product .inside-product_buttons {
  border-top: 1px solid #e6e6e6;
  padding: 20px 0;
  margin: 20px 0;
}
.section_header_change-pass {
  padding-bottom: 15px;
}
.section_content_pass-change {
  padding: 0 60px;
}
.section_content_pass-change .show-password {
  top: 29px;
}
.section_content_pass-change .form-group {
  padding: 0;
  margin-right: 70px;
}
.section_content_pass-change .form-group input {
  width: 100%;
}
.section_content_pass-change .form-buttons {
  margin-top: 80px;
}
.loading-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: url("../images/bg-black.png") repeat transparent;
  display: none;
}
.loading-layer .loading-ico-container {
  width: 55px;
  height: 55px;
  background: #000;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -27px 0 0 -27px;
}
.loading-layer .loading-ico {
  display: inline-block;
  margin-top: 5px;
}
.alert-container {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transition: bottom 0.4s;
  -moz-transition: bottom 0.4s;
  -o-transition: bottom 0.4s;
  -ms-transition: bottom 0.4s;
  transition: bottom 0.4s;
}
.dataTables_length {
  display: none;
}

/*css jm*/
.nopaddingleft{
  padding-left: 0px;
}
.tit-nav{
  color:#fff;
  padding-right: 10px;
  font-family: HelveticaNeue-medium, arial;
  margin-bottom: 10px;
  font-size: 18px;
}
.header-top{
  height: 80px;
  border-bottom: 1px solid #737373;
}
.sub-min{
  color:#B3B3B3;
  margin-bottom: 0;
    margin-top: 0;
    font-family: HelveticaNeue-regular, arial;
    padding-right: 40px;
}
.nom-usuario {
    color: #626262;
    font-size: 19px;
    margin-bottom: 0;
    font-family: HelveticaNeue-regular,arial;
    margin-top: 0;
}
.min {
    color: #626262;
    font-size: 13px;
    margin-top: 0;
}

.img-usu{
  padding-left: 23px;
  padding-bottom: 4px;
}
.thimg-editar {
    background-image: url("../images/Hb_web__ico_editar.png");
    background-position: 10px 9px;
}

.thimg-check-plomo {
    background-image: url("../images/Hb_web__ico_check_plomo.png");
    background-position: 10px 9px;
}

.thimg-cerrar {
    background-image: url("../images/Hb_web__ico_eliminar.png");
    background-position: 8px 12px;
}
.thimg {
    background-repeat: no-repeat;
    display: inline;
    padding: 16px 17px;
}
.text-red{
  color:#FB1E33;
  font-size: 14px !important;
  font-family: HelveticaNeue-regular, arial;
  text-align: right;
}
.text-red-examinar{
  color:#FB1E33;
  font-size: 14px !important;
  padding: 10px;
}
.text-red:hover{
  color:#FB1E33;
  font-size: 14px !important;
  text-align: right;
}
.th-icon {
    width: 20px;
}
.noborder{
  padding:0px !important;
}
.nopadding{
  margin: 0px;
}
.top-boton{
  padding: 20px;
}
@font-face{
   font-family: "helveticanue-italic";
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/HelveticaNeue-Italic.otf);
}
@font-face{
   font-family: "HelveticaNeue-Thin";
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/HelveticaNeue-Thin.otf);
}
@font-face{
   font-family: "HelveticaNeue-medium";
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/helvetica-neue-medium.ttf);
}
@font-face{
   font-family: "HelveticaNeue-regular";
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/HelveticaNeue.ttf),url(../fonts/HelveticaNeueLTStd-Roman.otf);

}


.altas{
  font-size: 21px !important;
  font-family: HelveticaNeue-medium;
}

.altaspop {
    font-family: HelveticaNeue-medium;
    font-size: 18px !important;
    padding: 19px;
}
.altaspop:hover, .altaspop:visited {
    font-family: HelveticaNeue-medium;
    font-size: 18px !important;
    padding: 19px;
    color: #FB1E33;
    cursor: pointer;
}
.altaspop:hover .checkob, .altaspop:visited .checkob{
    z-index: 10;
}
.select .checkob{
    z-index: 10;
}
.select span{
  color: #FB1E33;
}
.cursivas{
  color: #B3B3B3;
  font-family: "helveticanue-italic";
  font-size: 16px !important;
  min-width: 400px !important;
}
.cursivaspop{
  color: #B3B3B3;
  font-family: "helveticanue-italic";
  font-size: 16px !important;
}
.imgth{
  min-width: 10px !important;
  width: 10px !important;
   vertical-align: middle !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td {
    border-bottom: 1px solid #ddd !important;
}

.nopaddingright{
  padding-right: 0px;
}
.btnatras{
  padding-right: 15px;
  padding-bottom: 4px;
}
body{
  background-color: #F2F2F2;
}
.contenedor-usuario{
 margin-top: 120px;
}
.contenedor-categoria{
 margin-top: 40px;
 margin-left: 30px;
}

.contenedor-servicio{
 margin-top: 40px;
}
.imgdisplay {
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 200px;
    min-width: 120px;
    width: 600px;
    position: relative;
}
.form-control {
    border-color: -moz-use-text-color -moz-use-text-color #ccc !important;
    border-style: none none solid !important;
    border-width: 0 0 1px !important;
    box-shadow: none !important;
    font-size: 22px !important;
}

*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color:#CCCCCC !important;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
  color:#CCCCCC !important;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color:#CCCCCC !important;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color:#CCCCCC !important;
}
.cursivasregistrar {
    color: #b3b3b3;
    font-family: "helveticanue-italic";
    font-size: 16px !important;
}
.contenedor-cargo{
 padding-bottom: 85px;
border-bottom: 1px solid #ccc;
}
.contenedor-serviciobot{
 padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
.contenedor-usuarios {
    border-bottom: 1px solid #ccc;
    margin-top: 71px;
    padding-bottom: 85px;
}
.text-redradio{
  color:#FB1E33;
  font-size: 18px !important;
}
.btn.focus, .btn:focus, .btn:hover{
  color:#fff;
}


.modal {
    padding: 0 !important;
    text-align: center;
}
.modal::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.close {
    color: #cccccc;
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    opacity: 1;
    position: absolute;
    right: 6px;
    text-shadow: none;
    z-index: 999;
}
.thimg-cerrar-modal {
    background-image: url("../images/Hb_web__ico_eliminar.png");
    background-position: 13px 15px;
}
.modal-mensaje{
width: 420px;
}
.nomargin{
  margin: 0px;
}
.margentop{
  margin-top:40px;
}

.modal-content {
    border-radius: 15px;
    background-color: #F2F2F2;
}
.categoria-td{
  background-color: #EAEAEA;
  margin-left: 45px;
}
.contservicio .categoria-td{
  margin-left: 0px;
}
.imgcategoria{
   border-radius: 12px 0 0 12px;
   width: 316px;
   height: 110px;
}
.imgservicios{
   border-radius: 12px 0 0 12px;
   width: 160px;
   height: 51px;
   float: left;
}
.topcategoria{
  padding-top:55px;
  font-size: 28px;
  font-family: "HelveticaNeue-Thin";
}
.buttoncategoria{
  padding-top: 20px;
}
.buttonservicio{
  padding-top: 17px;
}
.buttonservicio a{
  display: inline-block;
}
.text-redcategoria {
    color: #fb1e33;
    display: inline;
    font-size: 14px !important;
    text-align: right;
    padding-right: 20px;
}
.bordercategoria{
  border-radius: 12px;
   margin-top: 10px;
}
.contcategoria{
  padding-bottom: 15px;
}
.paginado{
  display: inline;
}
.paginado-td {
    margin-left: 45px;
}
.ppaginado{
  display: inline;
  padding-left: 20px;
  font-size: 13px;
  font-family: "helveticanue-italic";
}
.buttoncategoria a{
  display: inline-block;
}
.btncat, .btncat:hover, .btncat:active, .btncat:visited, .btncat:focus {
    background-color: transparent !important;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    height: 30px;
    border: 1px solid #e5e5e5 !important;
}

.btnup, .btnup:hover, .btnup:active, .btnup:visited, .btnup:focus {
    background-color: transparent !important;
    border-radius: 20px;
    color: #FB1E33;
    font-size: 15px;
    height: 30px;
    border: 0px !important;
}
.btn-uploader-text{
    color: #FB1E33;
}

#tagservicios .btncat {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 3px 10px;
}

.icocruz {
    left: 46%;
    position: absolute;
    top: 30%;
    vertical-align: middle;
    padding: 20px;
    background-image: url("../images/Hb_web__ico_mas.png");
    z-index:1;
}
.icoeditar {
    left: 46%;
    position: absolute;
    top: 30%;
    vertical-align: middle;
    padding: 20px;
    background-image: url("../images/Hb_web__ico_editar_blanco.png");
     background-size: 40px auto;
}
.avisoimg {
    left: 27%;
    position: absolute;
    font-size: 12px;
    top: 60%;
    color:#B3B3B3;
    vertical-align: middle;
}
.avisoimg2 {
    left: 27%;
    position: absolute;
    font-size: 12px;
    top: 87%;
    color:#fff;
    vertical-align: middle;
}
.btn-uploader-container input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.btn-uploader-container {
    cursor: pointer;
   padding-left: 265px;
    padding-right: 16px;
    position: relative;
}
.product-img{
  border-radius: 14px;
  z-index: 2;
  position: relative;
}
.abso {
    position: absolute;
    top: 34%;
}
.btn-uploader-white{
    color: #fff;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td {
    vertical-align: middle;
}
.link-a:hover{
  color:#FB1E33;
  text-decoration: underline;
}

.opacityimg{
  display: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  position: absolute;
  width: 600px;
  height: 200px;
  border-radius: 12px;
}

.opacityimg-per {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 90px;
    display: none;
    height: 166px;
    left: 50%;
    margin-left: -82px;
    position: absolute;
    top: 19px;
    width: 163px;
    z-index: 10;
}
.opacityimg-per .btn-uploader-container input {
    cursor: pointer;
    height: 100%;
    left: 49px;
    opacity: 0;
    position: absolute;
    top: 33px;
    width: 100%;
    z-index: 1;
}

.opacityimg-fot .btn-uploader-container input {
    cursor: pointer;
    height: 100%;
    left: 35px;
    opacity: 0;
    position: absolute;
    top: 33px;
    width: 100%;
    z-index: 1;
}

.imgdisplay:hover .opacityimg{
  display: block;
}
.stylist-photo:hover .opacityimg-per{
  display: block;
}
.stylist-photo:hover .opacityimg-fot{
  display: block;
}
.maxinth{
  max-width:20px
}

.thimg1 {
    background-repeat: no-repeat;
    display: inline;
    padding: 8px 12px;
}
.thimg-check-plomo {
    background-image: url("../images/Hb_web__ico_check_plomo.png");
    background-position: 1px 9px;
}
.thimg-check-rojo {
    background-image: url("../images/Hb_web__ico_exclamacion.png");
    background-position: 1px 9px;
}
.tableservicios a{
  color:#b3b3b3;
}
.btnre, .btnre:hover {
    background-color: #fb1e33;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    height: 25px;
    width: 158px;
    border: medium none;
}

.btnpl, .btnpl:hover {
    background-color: #B3B3B3;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    height: 25px;
    width: 158px;
    border: medium none;
}
.asignar-estilista{
  width: 80%;
  margin: 0 auto;
}
.asignar-estilista td{
  border-bottom: solid 1px #ccc;
}
.popimg{
  padding-right: 10px;
}
.checkob {
    padding: 23px;
    position: absolute;
    z-index: -8;
}
.altaspop {
  border-bottom: solid 1px #ccc;
}
.clo{
  display: inline;
  position: relative;
}
.conthora {
    margin: auto;
    width: 235px;
}
.num {
    font-size: 26px;
}
.lemin{
  font-size: 13px;
  font-weight: bold;
}
.up {
    background-image: url("../images/Hb_web__ico_flecha-up.png");
    background-repeat: no-repeat;
    left: 7px;
    padding: 8px;
    position: absolute;
    top: -19px;
    cursor: pointer;
}

.down {
    background-image: url("../images/Hb_web__ico_flecha.png");
    background-repeat: no-repeat;
    left: 7px;
    padding: 8px;
    position: absolute;
    top: 22px;
    cursor: pointer;
}
.ptbold {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.aplo:hover, .aplo:visited, .aplo:active{
  color:#808080;
}
.minw{
  width: 74px;
  display: inline-block;
}
.imgcalendar{
position: relative;
padding-right: 20px;
}
.inlinediv{
  display: inline;
  padding-right: 10px;
}
.hservi{
  height: 51px;
}
.topservicio{
  font-size: 28px;
  font-family: HelveticaNeue-Thin;
  text-align: left;
  top:6px;
}
.buttonservicio .thimg{
    background-repeat: no-repeat;
    display: inline;
    padding: 12px 17px;
}
.form-horizontal .control-label {
    text-align: left;
}
.selectpicker {
    border: 1px solid #ccc !important;
    border-radius: 20px;
    font-size: 14px !important;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/Hb_web__ico_flecha.png") no-repeat center right transparent !important;
}
select[multiple] {
  height: 74px;
}

.cursivases {
    color: #b3b3b3;
    font-family: "helveticanue-italic";
    font-size: 16px !important;
}
.stylist-profile-content .form-control{
  color:#b3b3b3;
}
.input-li{
   color: #555 !important;
}
.estado {
    border-bottom: 0 none !important;
    bottom: 5px;
    margin-right: 10px;
    position: relative;
    width: 70% !important;
}
.upfile {
    left: 52px;
    position: absolute;
    top: 35px;
}
.icoeditar-estilista {
    background-image: url("../images/Hb_web__ico_editar_blanco.png");
    background-size: 40px auto;
    left: 41%;
    padding: 20px;
    position: absolute;
    top: 38%;
    vertical-align: middle;
}
.opacityimg-fot {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 15px;
    display: none;
    height: 131px;
    left: 0;
    position: absolute;
    top: 19px;
    width: 131px;
    z-index: 10;
}
.icoeditar-fot {
    background-image: url("../images/Hb_web__ico_editar_blanco.png");
    background-size: 40px auto;
    left: 38%;
    padding: 20px;
    position: absolute;
    top: 29%;
    vertical-align: middle;
}
.opacityimg-fot > div .upfile{
  left: 37px !important;
}
.select-servicio {
    background-position: 96% 12px !important;
}
.lservi {
    color: #626262;
    float: left;
    font-size: 14px;
    font-weight: 600 !important;
    line-height: 32px;
    margin-right: 10px;
    padding-bottom: 1px;
}
    .descri {
        border: 1px solid #ccc !important;
        border-radius: 16px;
        margin-left: 15px !important;
        width: 90%;
        font-size: 17px !important;
    }
.inservi{
  border: solid 1px #ccc !important;
  border-radius: 14px;
   height: 29px;
   font-size: 14px !important;
}

.left-list{
  padding-left: 30px;
}
.contenedor-total {
    padding-left: 25px !important;
    padding-right: 50px;
}
.imgservi{
  width: 600px;
  height: 200px;
}
.prim{
  font-size: 16px !important;
}
.wiinput {
    width: 12.8% !important;
    font-size: 14px;
}
#modal-horario-reserva .form-control {
    border: 1px solid #ccc !important;
    border-radius: 14px;
    font-size: 14px !important;
    height: 27px;
}
.modal-lg {
    width: 1000px;
}
.wid {
    width: 10%;
}
.paddingcero {
    padding: 0;
}
.tit-pop-plo{
  color: #B3B3B3;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    color: #E4E4E4;
    border: solid 1px #E4E4E4;
    opacity: 1;
}
.top-detalle{
  border-bottom: 1px solid #ccc;
   margin-top: 20px;
}
.nomservi {
    color: #626262;
    padding-left: 45px;
    font-size: 24px;
}
.datosdelcliente {
    color: #626262;
    padding-left: 45px;
    font-size: 24px;
}
.tipservi {
    color: #626262;
    padding-left: 75px;
    font-size: 18px;
}
.block-detalle{
  display: inline-block;
  padding-right: 20px;
  line-height: 12px;
}
.bot-detalle {
    margin-top: 6px;
    margin-bottom: 20px;
}
.list-det{
  display:block;
}
.v-centrado{
  margin-top: 55px;
}
.d-centrado{
  margin-top: 35px;
}
.namelist{
  font-size: 21px;
  color: #626262;
  font-weight: normal;
}
.content-personal {
    border-bottom: 1px solid #ccc;
    display: flex;
    padding-bottom: 25px;
    padding-top: 10px;
}
.titulo-datos{
  margin-top: 15px;
}
.left-75{
  padding-left: 75px;
  border-right: 1px solid #ccc;
}
.left-div{
  float:left
}
.right-div{
  float: right;
}
.right-div span {
    display: block;
    padding: 6px;
}
.ltmin span{
  font-size: 14px;
}
.lttop{
  padding-top: 0px !important;
}
.contendedor-bottom{
  padding-bottom: 10%;
}
.coment{
  width: 800px;
  line-height: 20px;
}
.coment span{
  padding-top: 0px;
}
.error-tooltip-up .error-tooltip-ico-up {
    background: transparent url("../images/error-arrow-up.png") no-repeat scroll right top;
    height: 10px;
    position: absolute;
    right: 46%;
    top: -7px;
    width: 15px;
}

.error-tooltip-up {
    background: #fb1e33 none repeat scroll 0 0;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    padding: 3px 8px;
    position: absolute;
    text-align: center;
    top: 189px;
    right: -60px;
    z-index: 10;
    width: 250px;
}
