.red {
  color: #fb1e33;
}
.gray1 {
  color: #b3b3b3;
}
.gray2 {
  color: #626262;
}


.newgray{
  color: #B3B3B3;
}
.newgray2{
  color: #626262;
}
.cursivas2{
  color: #B3B3B3;
  font-family: "helveticanue-italic";
  font-size: 16px !important;
}
.table{
  margin: 0 auto;
}
.text-red:hover, .text-red:visited, .text-red:active, .text-red:focus{
  color:#FB1E33;
}

.error-tooltip{
  color: white;
  font-size:12px;
  position:absolute;
  border-radius: 10px;
  background:#fb1e33;
  padding:3px 8px;
  text-align:center;
  z-index:10;
  top:-25px;
  right:15px;
}
.error-tooltip .error-tooltip-ico{
  width:15px;
  height:10px;
  position:absolute;
  right: 10px;
  bottom: -9px;
  background:url('../images/error-arrow.png') transparent top right no-repeat;
}


a:link, a:hover, a:visited{
  text-decoration: none;
}

.ico-plus{
  width:15px;
  height:15px;
  background: url('../images/Hb_web__ico_mas_rojo.png') 0 0 transparent;
  line-height: 22px;
  vertical-align: bottom;
}
.detail-link{
  display: inline-block;
  line-height: 13px;
  margin-bottom: 6px;
  vertical-align: bottom;
}
.profile-photo-small{
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
}





/* iCheck plugin Flat skin, red
----------------------------------- */
.icheckbox_flat-red,
.iradio_flat-red {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../images/red.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-red {
    background-position: 0 0;
}
    .icheckbox_flat-red.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-red.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-red.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-red {
    background-position: -88px 0;
}
    .iradio_flat-red.checked {
        background-position: -110px 0;
    }
    .iradio_flat-red.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-red.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-red,
    .iradio_flat-red {
        background-image: url(../images/red@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}




/* PROFILE DETAIL */
.profile-photo-big-container{
  position:relative;
  width:160px;
  display:block;
  margin:0 auto 13px auto;
}
.profile-photo-big{
  border-radius: 160px;
}
.profile-score{
  position:absolute;
  right:0;
  bottom:0;
  width:42px;
  height:42px;
  color: white;
  font-size:20px;
  background-color:#fb1e33;
  border-radius:42px;
  text-align: center;
  line-height: 42px;
  font-weight: 500;
}
.profile-data-container{
  text-align: center;
}
.profile-data-container .profile-data{
  display:inline-block;
  font-size:16px;
  margin-bottom:3px;
}
.profile-data-container .data-description{
  margin-top:13px;
}
.profile-tags{
  margin:15px 0;
  text-align: center;
}
.profile-tags .profile-tag{
  color:#B3B3B3;
  border:1px solid #B3B3B3;
  border-radius: 18px;
  padding: 2px 9px;
  display: inline-block;
  margin: 6px 1px;
  font-size: 14px;
}
.profile-photos{
  margin-bottom:20px;
}
.profile-photo{
  margin:0 4px;
  border-radius:8px;
}
.profile-social .profile-link, .profile-social .profile-link:hover, .profile-social .profile-link:visited, .profile-social .profile-link:active{
  color:#b3b3b3;
}




/*  LISTA PAGINATION  */
.list-pagination{
  width:90%;
  margin:0 auto;
  margin-top:30px;
  line-height: 14px;
}
.list-pagination .pagination-btn{
  width:17px;
  height:16px;
  float:left;
  margin-right:10px;
  cursor:pointer;
}
.list-pagination .btn-left{
  background:url('../images/Hb_web__ico_pag_atras.png') transparent no-repeat;
}
.list-pagination .btn-right{
  background:url('../images/Hb_web__ico_pag_siguente.png') transparent no-repeat;
}
.list-pagination .pagination-page{
  font-size:13px;
}








/*  STYLIST PROFILE CONTENT */
.stylist-profile-content .stylist-content-right{
  max-width: 678px;
}
.stylist-profile-content .btn-uploader-text{
  color:#fb1e33;
  text-align:center;
  font-size:14px;
}
.stylist-profile-content .load-img-here{
  width:130px;
  height:130px;
  border: 1px solid gray;
  margin-top:20px;
  background:url('../images/Hb_web__ico_mas.png') center center no-repeat;
  overflow: hidden;
  border-radius: 15px;
}
.stylist-profile-content .load-img-here-big{
  width:165px;
  height:165px;
}
.stylist-profile-content .stylist-photo-circular .load-img-here{
  border-radius: 165px;
}
.stylist-profile-content .btn-uploader-container{
  padding: 0;
  text-align: center;
  width:60px;
  margin:10px auto 0 auto;
}
.stylist-profile-content .btn-uploader-container input {
  height: inherit;
  width:60px;
  margin:0 auto;
}

.stylist-profile-content .form-control{
  font-size:17px !important;
}

.stylist-profile-content .stylist-container{
  width: 100%;
  display:inline-block;
}
.stylist-profile-content .stylist-address{
  width:63%;
  float:left;
}
.stylist-profile-content .stylist-client{
  width:33%;
  float:right;
  position:relative;
}
.stylist-profile-content .stylist-client input{
  padding-left:21px;
}
.stylist-profile-content .stylist-client .fa{
  position:absolute;
  left:0;
  top:9px;
  padding-bottom: 8px;
}
.stylist-profile-content .stylist-description{
  border:1px solid #CCC !important;
  border-radius: 15px;
  height:120px;
}
.stylist-profile-content .form-control:focus{
  border: 1px solid #ccc;
}
.stylist-profile-content .stylist-label{
  font-size:16px;
  color:#626262;
  float:left;
  border-bottom: 1px solid #CCC;
  padding-bottom: 1px;
  line-height: 32px;
  font-weight: 600;
}
.stylist-profile-content .stylist-label + input{
  float:left;
}
.stylist-profile-content .stylist-width-label {
  width:100%;
  display: inline-block;
}

.stylist-profile-content .stylist-dni label{
  width: 17%;
}
.stylist-profile-content .stylist-dni input{
  width: 83%;
}

.stylist-profile-content .stylist-date label{
  width: 35%;
}
.stylist-profile-content .stylist-date input{
  width: 65%;
}

.stylist-profile-content .stylist-celphone label, .stylist-profile-content .stylist-phone label{
  width: 30%;
}
.stylist-profile-content .stylist-celphone input, .stylist-profile-content .stylist-phone input{
  width: 70%;
}


.stylist-profile-content .stylist-photos .stylist-photo{
  float:left;
  margin-right:14px;
  position:relative;
}
.stylist-profile-content .stylist-photo .remove-photo{
  position:absolute;
  right:8px;
  top:18px;
  z-index:10;
}
.stylist-profile-content .stylist-photos .stylist-photo-last{
  margin:0;
}

.stylist-sex {
  float: left;
  width: 100%;
}

.stylist-sex h4, .stylist-categorys h4{
  margin:0 0 10px 0;
  font-size:17px;
  font-weight:700;
}
.stylist-categorys h4{
  margin-top:15px;
}
.stylist-sex .form-group {
  float: left;
}
.stylist-sex .stylist-label{
  border:none;
  line-height: 1;
}
.stylist-sex .stylist-label.first{
  margin-right: 35px;
}
.stylist-sex .iradio_flat-red{
  float:left;
  margin-right: 17px;
}



.stylist-categorys{
  margin-top:20px;
  padding:0;
}
.categorys-list .category-block {
  width:133px;
  border:1px solid #B3B3B3;
  border-radius: 15px;
  padding-left: 10px;
  float:left;
  margin:0 10px 10px 0;
}
.categorys-list .category-block label{
  font-weight: 100;
  font-size:13px;
  color:#B3B3B3;
}
.categorys-list .category-block.last {
  margin-right:0;
}
.category-block .icheckbox_flat-red{
  border-radius: 20px;
  margin: 3px 4px;
  float: right;
}



.category-section{
  height: 100%;
}
.section_content {
  height:87%;
  height:calc(100% - 105px);
}



/*  MAPA  */
#map{
  width:100%;
  height:calc(100% + 8px);
  margin-top: -8px;
}
.marker{
  width:100px;
  height:100px;
  position: absolute;
  background: url('../images/Hb_web__ico_mapa_globo.png') no-repeat center top;
  text-align:center;
}
.marker.gray{
  background: url('../images/Hb_web__ico_mapa_globo_gris.png') no-repeat center top;
}
.marker-photo{
  display:block;
  margin:4px auto 0 auto;
  width:38px;
  height:38px;
  border-radius: 38px;
}
.marker-name{
  padding:3px 6px;
  color:white;
  display:inline-block;
  text-align:center;
  margin-top:17px;
  font-size:12px;
  background-color:#fb1e33;
}
.marker.gray .marker-name{
  background-color:#B3B3B3;
}
/*  OBJETOS DE GOOGLE MAPS  */
.gmnoprint{
  left:0;
}
.gmnoprint + div{
  display:none;
}
.gmnoprint > div{
  background-color: #626262;
}
.map-filters{
  width:100%;
  height:30px;
  position:absolute;
  left:0;
  top:25px;
  background:white;
  background:rgba(255,255,255,0.8);
  z-index: 2;
}
.map-filters .form-group{
  margin:2px 0 0 20px;
  float:left;
}
.map-filters .form-group label{
  font-size: 16px;
}
.map-filters select{
  background: url("../images/Hb_web__ico_flecha_blanca.png") no-repeat 225px 11px #B3B3B3 !important;
  color: white;
  padding: 0;
  font-size: 16px !important;
  width: 247px;
}
.map-filters select *{
  color:white;
}
.map-info{
  width:280px;
  height:30px;
  position:absolute;
  z-index:2;
  right:0;
  bottom:25px;
  background:white;
  background:rgba(255,255,255,0.8);
}
.map-info .circle{
  width:17px;
  height:17px;
  border-radius:17px;
  margin-left:10px;
}
.map-info span{
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.map-info .circle-red{
  background-color:#fb1e33;
  margin-right:25px;
}
.map-info .circle-gray{
  background-color:#B3B3B3;
}







.error-container img{
  display:block;
  margin:125px auto 0 auto;
}
.error-container h1{
  font-size:57px;
  font-family: "HelveticaNeue-Thin";
  text-align:center;
  margin:45px 0 13px 0;
  color: #626262;
}
.error-container p{
  font-size:19px;
  text-align:center;
  font-family: "HelveticaNeue-Thin";
  margin:0;
}
.error-container .btn{
  display:block;
  margin:20px auto 70px auto;
}
.error-container .error-second-text{
  font-size:15px;
  line-height: 23px;
}
.section_content-error .new-btn{
  margin:10px 20px;
}
