<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title">Categorias</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">
    <div class="pull-right">
      <div class="top-boton">
      <button onclick="window.location.href='?nueva-categoria'" class="btn">Nueva Categoría</button>
      </div>
    </div>
    <div class="col-xs-12 text-center contcategoria">
      <div class="col-xs-11 categoria-td nopaddingleft nopaddingright bordercategoria">
        <div class="col-xs-12 nopaddingleft">
          <div class="col-xs-4 nopaddingleft">
            <img src="images/imagen.jpg" class="imgcategoria">
          </div>
          <div class="col-xs-2 topcategoria">
            PELUQUERIA
          </div>
          <div class="col-xs-6 nopaddingright">
            <div class="pull-right buttoncategoria">
              <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Ver todos los servicios</a></p>
              <a href="?editar-categoria"><i class="thimg-editar thimg"></i></a>
              <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-11 categoria-td nopaddingleft nopaddingright bordercategoria">
        <div class="col-xs-12 nopaddingleft">
          <div class="col-xs-4 nopaddingleft">
            <img src="images/imagen.jpg" class="imgcategoria">
          </div>
          <div class="col-xs-2 topcategoria">
            CABALLEROS
          </div>
          <div class="col-xs-6 nopaddingright">
            <div class="pull-right buttoncategoria">
              <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Ver todos los servicios</a></p>
              <a href="?editar-categoria"><i class="thimg-editar thimg"></i></a>
              <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-11 categoria-td nopaddingleft nopaddingright bordercategoria">
        <div class="col-xs-12 nopaddingleft">
          <div class="col-xs-4 nopaddingleft">
            <img src="images/imagen.jpg" class="imgcategoria">
          </div>
          <div class="col-xs-2 topcategoria">
            MAQUILLAJE
          </div>
          <div class="col-xs-6 nopaddingright">
            <div class="pull-right buttoncategoria">
              <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Ver todos los servicios</a></p>
              <a href="?editar-categoria"><i class="thimg-editar thimg"></i></a>
              <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-11 categoria-td nopaddingleft nopaddingright bordercategoria">
        <div class="col-xs-12 nopaddingleft">
          <div class="col-xs-4 nopaddingleft">
            <img src="images/imagen.jpg" class="imgcategoria">
          </div>
          <div class="col-xs-2 topcategoria">
            MANIQURE
          </div>
          <div class="col-xs-6 nopaddingright">
            <div class="pull-right buttoncategoria">
              <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Ver todos los servicios</a></p>
              <a href="?editar-categoria"><i class="thimg-editar thimg"></i></a>
              <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-11 categoria-td nopaddingleft nopaddingright bordercategoria">
        <div class="col-xs-12 nopaddingleft">
          <div class="col-xs-4 nopaddingleft">
            <img src="images/imagen.jpg" class="imgcategoria">
          </div>
          <div class="col-xs-2 topcategoria">
            PEDICURE
          </div>
          <div class="col-xs-6 nopaddingright">
            <div class="pull-right buttoncategoria">
              <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Ver todos los servicios</a></p>
              <a href="?editar-categoria"><i class="thimg-editar thimg"></i></a>
              <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-xs-12 text-center contcategoria">
      <div class="col-xs-11 paginado-td nopaddingleft nopaddingright bordercategoria">
        <div class="col-xs-12 nopaddingleft">
          <div class="pull-right">
          <div class="paginado">
            <a href="#"><img src="images/Hb_web__ico_pag_atras.png"></a>
            <a href="#"><img src="images/Hb_web__ico_pag_siguente.png"></a>
          </div>
          <p class="ppaginado"> 8 de 25</p>
          </div>
        </div>
      </div>
    </div>

  </div>




</section>
