<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title"><a href="javascript:history.back(1)"> <img class="btnatras" src="images/Hb_web__ico_atras_plomo.png"></a>Detalle de Servicio</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content stylist-profile-content">

    <div class="col-xs-12">
      <div class="top-detalle">
        <span class="nomservi">Barba</span>
        <div class="pull-right">
          <div class="block-detalle"><label>Codigo:</label><span class="gray1"> 432909</span></div>
          <div class="block-detalle"><label>Hora inicio:</label><span class="gray1"> 10:40 am</span></div>
          <div class="block-detalle"><label>Hora Fin:</label><span class="gray1"> 10:40 am</span></div>
        </div>
      </div>
      <div class="bot-detalle">
        <span class="tipservi">Caballeros</span>
        <div class="pull-right">
          <div class="block-detalle"><label>Estado:</label><span class="gray1"> Activo</span></div>
          <div class="block-detalle"><label>Fecha:</label><span class="gray1"> 10:40 am</span></div>
          <div class="block-detalle"><label>Duración:</label><span class="gray1"> 10:40 am</span></div>
          <div class="block-detalle"><label>Tiempo Estimado:</label><span class="gray1"> 10:40 am</span></div>
          <div class="block-detalle"><input type="checkbox" id="cat-Alisado"></div>
        </div>
      </div>
    </div>

  <div class="col-xs-12">
    <div class="content-personal">
    <div class="col-xs-3">
      <div class="stylist-photo stylist-photo-circular">
        <img src="images/img_perfil_circulo160px.png" class="load-img-here load-img-here-big product-img" />
        <br>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="v-centrado">
        <span class="list-det namelist">Brenda Araujo Martinez</span>
        <span class="list-det cursivases">Brenda.araujo@homebeauty.com</span>
        <div class="list-det">
        <div class="block-detalle"><label>Dni:</label><span class="gray1"> 70587679</span></div>
        <div class="block-detalle"><label>Fecha Nac.:</label><span class="gray1"> 21/11/16</span></div>
      </div>
      <div class="list-det">
        <div class="block-detalle"><label>Celular:</label><span class="gray1"> 992318201</span></div>
        <div class="block-detalle"><label>Teléfono:</label><span class="gray1"> 992318201</span></div>
      </div>
      </div>
    </div>
  </div>
  </div>

    <!-- LEFT -->
    <div class="col-xs-12 contendedor-bottom">
    <div class="col-xs-5">
      <div class="titulo-datos">
        <span class="datosdelcliente">Datos del cliente</span>
        <div class="d-centrado left-75">
          <span class="list-det namelist">Ana María Peraza</span>
          <span class="list-det cursivases">a.peraza@homebeauty.com</span>
          <div class="list-det">
          <div class="block-detalle"><label>Sexo:</label><span class="gray1"> Mujer</span></div>
        </div>
        <div class="list-det">
          <div class="block-detalle"><label>Celular:</label><span class="gray1"> 992318201</span></div>
          <div class="block-detalle"><label>Teléfono:</label><span class="gray1"> 287-6075</span></div>
        </div>
        </div>
      </div>
      </div>

      <div class="col-xs-3">
        <div class="titulo-datos">
          <br>
          <div class="d-centrado ltmin">
          <div class="list-det">
            <div class="block-detalle"><span>Tipo de pierl:</span><span> Piel Seca</span></div>
          </div>
          <div class="list-det">
            <div class="block-detalle"><span>Largo de uñas:</span><span> Cortes</span></div>
          </div>
          <div class="list-det">
            <div class="block-detalle"><span>Textura de cabello:</span><span> Delgado</span></div>
          </div>
          <div class="list-det">
            <div class="block-detalle"><span>Largo de cabello:</span><span> Corto</span></div>
          </div>
          </div>
        </div>
        </div>

        <div class="col-xs-3">
          <div class="titulo-datos">
            <br>
            <div class="d-centrado ltmin">
            <div class="list-det">
              <div class="block-detalle"><span>Estructura de Cabello:</span><span> Liso</span></div>
            </div>
            <div class="block-detalle">
              <div class="left-div">
                <span>Opciones:</span>
              </div>
              <div class="right-div">
              <span class="lttop"> Teñido</span>
              <span> dañado</span>
              <span> con extension</span>

              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
    </div>


  </div>




</section>
