<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title"><a href="javascript:history.back(1)"> <img class="btnatras" src="images/Hb_web__ico_atras_plomo.png"></a>Editar Servicio</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">
    <div class="contenedor-total">
      <div class="col-xs-12 contenedor-servicio">
        <div class="form-group">
          <div class="col-xs-5">
           <input type="text" class="form-control drop-modal input-icon input-user" placeholder="Nombre de nuevo servicio" value="Barba">
          </div>
        </div>
      </div>
      <div class="col-xs-12 contenedor-servicio">
        <div class="form-group">
          <div class="col-xs-5 nopaddingright">
            <div class="bs-example form-horizontal">
              <div class="form-group">
                <div class="col-xs-3">
                <span class="lservi prim">Categoría: </span>
                </div>
                <div class="col-xs-8 pd noborder">
                  <select data-hide-disabled="true" class="select-servicio selectpicker form-control">
                    <option>Selecione categoria</option>
                    <option>categoria1</option>
                    <option selected>Caballeros</option>
                      <option>categori3</option>
                      <option>categoria4</option>
                      <option>categoria5</option>
                      <option>categoria6</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control descri" placeholder="Descripcion" rows="2">Estilización , Recorte, hidratación, exfoliación de piel en caballeros para tener esa barba perfecta.</textarea>
              </div>

              <div class="form-group">
              <div class="col-xs-6">
                <span class="lservi prim">Precio: </span>
                <div class="col-xs-7 pd noborder">
                  <input type="text" placeholder="S/. 000.00" value="S/.20.00" class="form-control inservi">
                </div>
              </div>
              <div class="col-xs-6">
                <span class="lservi prim">Tiempo: </span>
                <div class="col-xs-7 pd noborder">
                  <input type="text" placeholder="00 min" value="40 min" class="form-control inservi">
                </div>
              </div>
              </div>

						</div>
          </div>
          <div class="col-xs-7 nopaddingright">
            <div class="imgdisplay">
              <div class="opacityimg">
                <button class="close remove-photo" type="button"><span>×</span></button>
              <div class="icoeditar"></div>
              <div class="btnup btn-modalsmall plomo btn-uploader-container abso">
                 <input type="file" class="btn-upload-product-picture">
                 <span class="btn-uploader-white">Examinar</span>
              </div>
              <div class="avisoimg2">Imágenes de 1024px por 400px, con un peso no mayor a 2 MB</div>
            </div>
              <img alt="" src="images/img_servicio_imagen_carga_564px.png" class="product-img imgservi">
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
        <div class="col-xs-3 nopaddingright">
            <div class="bs-example form-horizontal">
              <div class="form-group">
                <label class="col-lg-12 control-label lservi prim">Factores :</label>
              </div>
              <div class="form-group">
                <label class="col-lg-12 control-label lservi">Tipo de piel</label>
              </div>
              <div class="form-group">
                <div class="left-list">
                  <div class="col-xs-12">
                    <div class="error-tooltip">
                      Este es un mensaje de error
                      <span class="error-tooltip-ico"></span>
                    </div>
                    <span class="lservi text-left">Piel Seca</span>
                    <div class="col-lg-6 pd noborder pull-right">
                      <input type="text" class="form-control inservi" value="" placeholder="00 min">
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <span class="lservi text-left">Piel Grasa</span>
                    <div class="col-lg-6 pd noborder pull-right">
                      <input type="text" class="form-control inservi" value="" placeholder="00 min">
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <span class="lservi text-left">Piel Mixta</span>
                    <div class="col-lg-6 pd noborder pull-right">
                      <input type="text" class="form-control inservi" value="" placeholder="00 min">
                    </div>
                  </div>
                </div>
              </div>

						</div>
          </div>


          <div class="col-xs-3 nopaddingright">
              <div class="bs-example form-horizontal">
                <div class="form-group">
                  <label class="col-lg-12 control-label lservi">&nbsp;</label>
                </div>
                <div class="form-group">
                  <label class="col-lg-12 control-label lservi">Largo de uñas</label>
                </div>
                <div class="form-group">
                  <div class="left-list">
                    <div class="col-xs-12">
                      <span class="lservi text-left">Cortes</span>
                      <div class="col-lg-6 pd noborder pull-right">
                        <input type="text" class="form-control inservi" value="" placeholder="00 min">
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="error-tooltip">
                        Este es un mensaje de error
                        <span class="error-tooltip-ico"></span>
                      </div>
                      <span class="lservi text-left">Medias</span>
                      <div class="col-lg-6 pd noborder pull-right">
                        <input type="text" class="form-control inservi" value="" placeholder="00 min">
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <span class="lservi text-left">Largas</span>
                      <div class="col-lg-6 pd noborder pull-right">
                        <input type="text" class="form-control inservi" value="" placeholder="00 min">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
            <div class="col-xs-3 nopaddingright">
                <div class="bs-example form-horizontal">
                  <div class="form-group">
                    <label class="col-lg-12 control-label lservi">Textura de cabello</label>
                  </div>
                  <div class="form-group">
                    <div class="left-list">
                      <div class="col-xs-12">
                        <span class="lservi text-left">Delgado</span>
                        <div class="col-lg-6 pd noborder pull-right">
                          <input type="text" class="form-control inservi" value="" placeholder="00 min">
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <span class="lservi text-left">Grueso</span>
                        <div class="col-lg-6 pd noborder pull-right">
                          <input type="text" class="form-control inservi" value="" placeholder="00 min">
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <span class="lservi text-left">Mediano</span>
                        <div class="col-lg-6 pd noborder pull-right">
                          <input type="text" class="form-control inservi" value="" placeholder="00 min">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-xs-3 nopaddingright">
                  <div class="bs-example form-horizontal">
                    <div class="form-group">
                      <label class="col-lg-12 control-label lservi">Largo de cabello</label>
                    </div>
                    <div class="form-group">
                      <div class="left-list">
                        <div class="col-xs-12">
                          <span class="lservi text-left">Corto</span>
                          <div class="col-lg-6 pd noborder pull-right">
                            <input type="text" class="form-control inservi" value="" placeholder="00 min">
                          </div>
                        </div>
                        <div class="col-xs-12">
                          <span class="lservi text-left">Mediano</span>
                          <div class="col-lg-6 pd noborder pull-right">
                            <input type="text" class="form-control inservi" value="" placeholder="00 min">
                          </div>
                        </div>
                        <div class="col-xs-12">
                          <span class="lservi text-left">Largo</span>
                          <div class="col-lg-6 pd noborder pull-right">
                            <input type="text" class="form-control inservi" value="" placeholder="00 min">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-xs-3 nopaddingright">
                    <div class="bs-example form-horizontal">
                      <div class="form-group">
                        <label class="col-lg-12 control-label lservi">Estructura de cabello</label>
                      </div>
                      <div class="form-group">
                        <div class="left-list">
                          <div class="col-xs-12">
                            <span class="lservi text-left">Liso</span>
                            <div class="col-lg-6 pd noborder pull-right">
                              <input type="text" class="form-control inservi" value="" placeholder="00 min">
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <span class="lservi text-left">Ondulado</span>
                            <div class="col-lg-6 pd noborder pull-right">
                              <input type="text" class="form-control inservi" value="" placeholder="00 min">
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <div class="error-tooltip">
                              Este es un mensaje de error
                              <span class="error-tooltip-ico"></span>
                            </div>
                            <span class="lservi text-left">Risado</span>
                            <div class="col-lg-6 pd noborder pull-right">
                              <input type="text" class="form-control inservi" value="" placeholder="00 min">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-xs-3 nopaddingright">
                      <div class="bs-example form-horizontal">
                        <div class="form-group">
                          <label class="col-lg-12 control-label lservi">Opciones</label>
                        </div>
                        <div class="form-group">
                          <div class="left-list">
                            <div class="col-xs-12">
                              <span class="lservi text-left">Teñido</span>
                              <div class="col-lg-6 pd noborder pull-right">
                                <input type="text" class="form-control inservi" value="" placeholder="00 min">
                              </div>
                            </div>
                            <div class="col-xs-12">
                              <span class="lservi text-left">Dañado</span>
                              <div class="col-lg-6 pd noborder pull-right">
                                <input type="text" class="form-control inservi" value="" placeholder="00 min">
                              </div>
                            </div>
                            <div class="col-xs-12">
                              <span class="lservi text-left">con extensión</span>
                              <div class="col-lg-6 pd noborder pull-right">
                                <input type="text" class="form-control inservi" value="" placeholder="00 min">
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
              </div>
              </div>


        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group contenedor-serviciobot">
          <div class="col-xs-2">

          </div>
        </div>
      </div>

      <div class="pull-right">
        <div class="top-boton">
        <button class="btn" onclick="window.location.href='?categoria'">Crear categoría</button>
        </div>
      </div>

  </div>
  </div>




</section>
