<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title"> <a href="javascript:history.back(1)"><img class="btnatras" src="images/Hb_web__ico_atras_plomo.png"></a>Editar Usuario</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">
      <div class="col-xs-12 contenedor-usuario">
        <div class="form-group">
          <div class="col-xs-4">
           <input type="text" class="form-control drop-modal input-icon input-user" placeholder="Nombres" value="Brenda Alejandra">
          </div>
          <div class="col-xs-4">
           <input type="text" class="form-control drop-modal input-icon input-user" placeholder="Apellidos" value="Araujo Martinez">
          </div>
          <div class="col-xs-4">
           <input type="text" class="form-control drop-modal input-icon input-user cursivasregistrar" placeholder="Correo@homebeauty.com" value="jairo.machuca@homebeauty.com">
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group contenedor-usuarios">
          <div class="col-xs-2"></div>
          <div class="col-xs-2 text-redradio">
          <input type="radio" name="sex" value="male" checked> Administrador
          </div>
          <div class="col-xs-2 text-redradio">
             <input type="radio" name="sex" value="male"> Contador
          </div>
          <div class="col-xs-2 text-redradio">
            <input type="radio" name="sex" value="male"> Supervisor
          </div>
          <div class="col-xs-2 text-redradio">
            <input type="radio" name="sex" value="male"> Marketing
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>

      <div class="pull-right">
        <div class="top-boton">
        <button class="btn" onclick="window.location.href='?usuarios'">Guardar</button>
        </div>
      </div>

  </div>




</section>
