<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title"><a href="javascript:history.back(1)"> <img class="btnatras" src="images/Hb_web__ico_atras_plomo.png"></a>Editar Categoria</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">
      <div class="col-xs-10 contenedor-categoria">
        <div class="form-group">
          <div class="col-xs-6">
           <input type="text" class="form-control drop-modal input-icon input-user" placeholder="Nombre de Nueva categoría" value="PELUQUERIA">
          </div>
        </div>
      </div>
      <div class="col-xs-10 contenedor-categoria">
        <div class="form-group">
          <div class="col-xs-8 nopaddingright">
            <div class="imgdisplay">
              <div class="opacityimg">
              <div class="icoeditar"></div>
              <div class="btnup btn-modalsmall plomo btn-uploader-container abso">
                 <input type="file" class="btn-upload-product-picture">
                 <span class="btn-uploader-white">Examinar</span>
              </div>
              <div class="avisoimg2">Imágenes de 1024px por 400px, con un peso no mayor a 2 MB</div>
            </div>
              <img alt="" width="600px" height="200px" src="images/1024x400.png" class="product-img">
            </div>

          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group contenedor-cargo">
          <div class="col-xs-2">

          </div>
        </div>
      </div>

      <div class="pull-right">
        <div class="top-boton">
        <button class="btn" onclick="window.location.href='?categoria'">Crear categoría</button>
        </div>
      </div>

  </div>




</section>
