<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title"><a href="javascript:history.back(1)"> <img class="btnatras" src="images/Hb_web__ico_atras_plomo.png"></a>Editar Estilista</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content stylist-profile-content">

    <!-- LEFT -->
    <div class="col-xs-4">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="stylist-photo stylist-photo-circular">

          <div class="opacityimg-per">
              <div class="icoeditar-estilista"></div>
              <div class="btnup btn-modalsmall plomo btn-uploader-container abso">
                 <input type="file" class="btn-upload-product-picture3">
                 <span class="btn-uploader-white upfile">Examinar</span>
              </div>
            </div>
          <img src="images/img_perfil_circulo160px.png" class="load-img-here load-img-here-big product-img" />
          <br>
        </div>

        <div class="stylist-data">
          <div class="form-group">
            <input type="text" class="form-control input-li" value="Brenda Alejandra" placeholder="Nombres">
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-li" value="Araujo Martinez" placeholder="Apellidos">
          </div>
          <div class="form-group">
            <input type="text" class="form-control cursivases" value="b.alejandra@homebeauty.com" placeholder="correo@homebeauty.com">
          </div>
          <div class="form-group stylist-width-label stylist-dni">
            <label class="stylist-label">Dni:</label>
            <input type="text" class="form-control" value="70587679" placeholder="00000000" maxlength="8">
          </div>
          <div class="form-group stylist-width-label stylist-date">
            <label class="stylist-label">Fecha Nac.:</label>
            <input type="text" class="form-control datepicker2" value="30/12/2015" placeholder="dd/mm/aa" data-date-format="dd/mm/yyyy">
          </div>
          <div class="stylist-sex">
            <h4>Sexo:</h4>
            <div class="form-group">
              <input type="radio" name="stylist-sex" value="m" checked>
              <label class="stylist-label first">Mujer</label>
            </div>
            <div class="form-group">
              <input type="radio" name="stylist-sex" value="h">
              <label class="stylist-label">Hombre</label>
            </div>
          </div>
          <div class="form-group stylist-width-label stylist-celphone">
            <label class="stylist-label">Celular:</label>
            <input type="text" class="form-control" value="992318201" placeholder="000-000-000">
          </div>
          <div class="form-group stylist-width-label stylist-phone">
            <label class="stylist-label">Teléfono:</label>
            <input type="text" class="form-control" value="287-6075" placeholder="000-00000">
          </div>
          <div class="form-group stylist-width-label stylist-phone">
            <div class="pull-right">
            <label class="stylist-label estado">Desactivar</label>
            <input type="checkbox" id="estado">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="col-xs-8 stylist-content-right">
      <div class="col-xs-11 col-xs-offset-1">
        <div class="form-group">
          <input type="text" class="form-control" value="Av. San Borja Norte 1240, San Borja, Lima." placeholder="Dirección">
        </div>

        <div class="stylist-container">
          <div class="form-group stylist-address">
            <input type="text" class="form-control" value="www.blogspot.com/brenda/00120" placeholder="Dirección URL del blog o de la página web">
          </div>
          <div class="form-group stylist-client">
            <span class="fa fa-instagram newgray"></span>
            <input type="text" class="form-control" value="@brenda.araujo" placeholder="@Cliente">
          </div>
        </div>

        <div class="form-group">
          <textarea class="form-control stylist-description" placeholder="Descripción">Estilista Graduada, 5 años de experiencia, estilo moderno, especialista en cabello corto, uñas, peinado para bodas.</textarea>
        </div>


        <section class="stylist-photos">
          <div class="stylist-photo">
            <div class="opacityimg-fot">
              <div class="icoeditar-fot"></div>
              <div class="btnup btn-modalsmall plomo btn-uploader-container abso">
                 <input type="file" class="btn-upload-product-picture3">
                 <span class="btn-uploader-white upfile">Examinar</span>
              </div>
            </div>
            <img src="images/img_imagen_perfil_cuadrada_128px.png" class="load-img-here product-img" />


          </div>
          <div class="stylist-photo">
            <div class="opacityimg-fot">
              <div class="icoeditar-fot"></div>
              <div class="btnup btn-modalsmall plomo btn-uploader-container abso">
                 <input type="file" class="btn-upload-product-picture3">
                 <span class="btn-uploader-white upfile">Examinar</span>
              </div>
            </div>
            <img src="images/img_imagen_perfil_cuadrada_128px.png" class="load-img-here product-img" />


          </div>
          <div class="stylist-photo">
            <div class="opacityimg-fot">
              <div class="icoeditar-fot"></div>
              <div class="btnup btn-modalsmall plomo btn-uploader-container abso">
                 <input type="file" class="btn-upload-product-picture3">
                 <span class="btn-uploader-white upfile">Examinar</span>
              </div>
            </div>
            <img src="images/img_imagen_perfil_cuadrada_128px.png" class="load-img-here product-img" />


          </div>
          <div class="stylist-photo stylist-photo-last">
            <div class="opacityimg-fot">
              <div class="icoeditar-fot"></div>
              <div class="btnup btn-modalsmall plomo btn-uploader-container abso">
                 <input type="file" class="btn-upload-product-picture3">
                 <span class="btn-uploader-white upfile">Examinar</span>
              </div>
            </div>
            <img src="images/img_imagen_perfil_cuadrada_128px.png" class="load-img-here product-img" />


          </div>
        </section>


        <section class="col-xs-12 stylist-categorys">
          <h4>Categorías</h4>

          <div class="categorys-list">
            <div class="category-block">
              <label for="cat-Manicure"  class="category-block-title">Manicure</label>
              <input type="checkbox" id="cat-Manicure" checked>
            </div>
            <div class="category-block">
              <label for="cat-Maquillaje"  class="category-block-title">Maquillaje</label>
              <input type="checkbox" id="cat-Maquillaje" checked>
            </div>
            <div class="category-block">
              <label for="cat-Pedicure"  class="category-block-title">Pedicure</label>
              <input type="checkbox" id="cat-Pedicure">
            </div>
            <div class="category-block last">
              <label for="cat-Alisado"  class="category-block-title">Alisado</label>
              <input type="checkbox" id="cat-Alisado">
            </div>
            <div class="category-block">
              <label for="cat-Tinte"  class="category-block-title">Tinte</label>
              <input type="checkbox" id="cat-Tinte" checked>
            </div>
            <div class="category-block">
              <label for="cat-Corte-hombre"  class="category-block-title">Maquillaje</label>
              <input type="checkbox" id="cat-maquillaje">
            </div>
            <div class="category-block">
              <label for="cat-Corte-hombre"  class="category-block-title">Alisado</label>
              <input type="checkbox" id="cat-alisado" checked>
            </div>
            <div class="category-block last">
              <label for="cat-Corte-hombre"  class="category-block-title">Tinte</label>
              <input type="checkbox" id="cat-tinte" checked>
            </div>
          </div>
        </section>

      </div>
    </div>

    <!-- BOTTOM -->
    <div class="col-xs-12">
        <div class="form-group contenedor-cargo">
        </div>
      </div>
      <div class="pull-right">
          <div class="top-boton">
          <button onclick="window.location.href='?categoria'" class="btn">Guardar</button>
          </div>
        </div>

  </div>




</section>
