<section class="row section category-section nopadding">
  <header class="section_header">
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content section_content-error">
    <div class="col-xs-6 col-xs-offset-3 error-container">
      <img src="images/Hb_web__ic_alert.png" alt="" />
      <h1>Error!</h1>
      <p>
        Vuelva a intentarlo
      </p>
    </div>
  </div>




</section>
