


<!---///////////// DETALLE ESTILISTA ////////////-->
<div class="modal fade" id="modal-detalle-estilista" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-mensaje" role="document">
    <div class="modal-content">
      <div class="modal-header row">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="col-xs-12">
          <h4 class="modal-title">
              Estilista
          </h4>
        </div>
      </div>
      <div class="modal-body row">
        <div class="profile-photo-big-container">
          <img width="160" height="160" src="images/160x160.png" class="profile-photo-big" />
          <span class="profile-score">4.5</span>
        </div>

        <div class="col-xs-12 profile-data-container">
          <span class="newgray profile-data data-name"><span class="newgray2">Brenda Araujo Martinez</span></span>
          <span class="newgray profile-data data-email ">brenda.araujo@homebeauty.com</span>
          <br>
          <span class="newgray profile-data data-dni"><span class="newgray2">Dni: </span>21293047</span>
          <span class="newgray profile-data data-fecha"><span class="newgray2">Fecha Nac.: </span>21/11/15</span>
          <br>
          <span class="newgray profile-data data-celphone"><span class="newgray2">Celular: </span>999-888-777</span>
          <span class="newgray profile-data data-phone"><span class="newgray2">Teléfono: </span>333-5544</span>
          <span class="newgray profile-data data-address">Av. San Borja Norte 1240, San Borja. Lima. Lima 30</span>
          <br>
          <span class="newgray profile-data data-description">Estilista graduada, 5 años de experiencia, estilo moderno, especialista en cabello corto, uñas, peinado para bodas.</span>
        </div>

        <aside class="col-xs-12 profile-tags">
          <span class="profile-tag">Manicure</span>
          <span class="profile-tag">Pedicure</span>
          <span class="profile-tag">Corte dama</span>
          <span class="profile-tag">Tinte</span>
          <span class="profile-tag">Peinado</span>
          <span class="profile-tag">Maquillaje</span>
          <span class="profile-tag">Alisado</span>
          <span class="profile-tag">Corte Hombre</span>
        </aside>

        <div class="profile-photos">
          <img width="84" height="84" src="images/130x130.png" class="profile-photo" />
          <img width="84" height="84" src="images/130x130.png" class="profile-photo" />
          <img width="84" height="84" src="images/130x130.png" class="profile-photo" />
          <img width="84" height="84" src="images/130x130.png" class="profile-photo" />
        </div>

        <div class="col-xs-12 profile-social text-center">
          <a href="#" target="_blank" class="profile-link link-web gray1">www.blogspot.com/brenda/00120</a>
          <a href="#" target="_blank" class="profile-link link-instagram gray1">@brenda.araujo</a>
        </div>

        <div class="col-xs-12 text-center margentop">
          <button data-dismiss="modal" class="btn">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!---///////////// RESTORE USER PASS MODAL ////////////-->
<div class="modal fade" id="modal-eliminar-estilista" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-mensaje" role="document">
    <div class="modal-content">
      <div class="modal-header row">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="col-xs-12">
          <h4 class="modal-title">
              Eliminar Estilista
          </h4>
        </div>
      </div>
      <div class="modal-body row">
        <div class="col-xs-12">
          <p class="text-center cursivas2 nomargin">
            ¿Esta seguro que querer eliminar</p> <p class="text-center cursivas2 nomargin"> el estilista seleccionado?
          </p>
        </div>
        <div class="col-xs-12 text-center margentop">
          <button data-dismiss="modal" class="btn">Aceptar</button>
        </div>
        </div>
      </div>
    </div>
  </div>







<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title">Estilistas</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">
    <div class="pull-right">
      <div class="top-boton">
      <button onclick="window.location.href='?nuevo-estilista'" class="btn">Nuevo Estilista</button>
      </div>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <img width="38" height="38" src="images/38x38.png"  class="profile-photo-small" />
          </td>
          <td class="altas">
            Brenda Araujo
          </td>
          <td class="cursivas2">
            DNI: 21298899
          </td>
          <td class="cursivas2">
            Fecha de registro: 27-11-2015
          </td>
          <td class="">
            <a href="#modal-detalle-estilista" data-toggle="modal" class="text-red detail-link" >
              Ver más detalle
              <span class="ico ico-plus"></span>
            </a>
          </td>
          <td class="noborder imgth"><a href="?editar-estilista"><i class="thimg-editar thimg"></i></a></td>
          <td class="noborder imgth"><a data-toggle="modal" href="#modal-eliminar-estilista"><i class="thimg-cerrar thimg"></i></a></td>
        </tr>
      </tbody>
    </table>


    <aside class="list-pagination">
      <div class="pull-right">
        <span class="pagination-btn btn-left"></span>
        <span class="pagination-btn btn-right"></span>
        <em class="pagination-page newgray2">8 de 35</em>
      </div>
    </aside>

  </div>




</section>
