<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title">Historial de Servicios</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">
    <div class="col-xs-12">
    <table class="table datatable tableservicios">
      <thead>
        <th>Codigo</th>
        <th>Servicio</th>
        <th>Categoria</th>
        <th>Estilista</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Duracion</th>
        <th colspan="2" class="maxinth text-center">Tiempo Estimado</th>
      </thead>
      <tbody>
        <tr>
          <td><a class="link-a" href="#">212930</a></td>
          <td>Barba</td>
          <td>Hombre</td>
          <td>Brenda Araujo Martinez</td>
          <td>Juaquin Alamo Ramos</td>
          <td>12/12/2016 </td>
          <td>10:40 am </td>
          <td>10:40 am </td>
          <td class="text-center">20 min </td>
          <td class="text-center">20 min </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-check-rojo thimg1"></i></a></td>
        </tr>
        <tr>
          <td><a class="link-a" href="#">212930</a></td>
          <td>Barba</td>
          <td>Hombre</td>
          <td>Brenda Araujo Martinez</td>
          <td>Juaquin Alamo Ramos</td>
          <td>12/12/2016 </td>
          <td>10:40 am </td>
          <td>10:40 am </td>
          <td class="text-center">20 min </td>
          <td class="text-center">20 min </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-check-plomo thimg1"></i></a></td>
        </tr>
        <tr>
          <td><a class="link-a" href="#">212930</a></td>
          <td>Barba</td>
          <td>Hombre</td>
          <td>Brenda Araujo Martinez</td>
          <td>Juaquin Alamo Ramos</td>
          <td>12/12/2016 </td>
          <td>10:40 am </td>
          <td>10:40 am </td>
          <td class="text-center">20 min </td>
          <td class="text-center">20 min </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-check-plomo thimg1"></i></a></td>
        </tr>
        <tr>
          <td><a class="link-a" href="#">212930</a></td>
          <td>Barba</td>
          <td>Hombre</td>
          <td>Brenda Araujo Martinez</td>
          <td>Juaquin Alamo Ramos</td>
          <td>12/12/2016 </td>
          <td>10:40 am </td>
          <td>10:40 am </td>
          <td class="text-center">20 min </td>
          <td class="text-center">20 min </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-check-rojo thimg1"></i></a></td>
        </tr>
        <tr>
          <td><a class="link-a" href="#">212930</a></td>
          <td>Barba</td>
          <td>Hombre</td>
          <td>Brenda Araujo Martinez</td>
          <td>Juaquin Alamo Ramos</td>
          <td>12/12/2016 </td>
          <td>10:40 am </td>
          <td>10:40 am </td>
          <td class="text-center">20 min </td>
          <td class="text-center">20 min </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-check-plomo thimg1"></i></a></td>
        </tr>
        <tr>
          <td><a class="link-a" href="#">212930</a></td>
          <td>Barba</td>
          <td>Hombre</td>
          <td>Brenda Araujo Martinez</td>
          <td>Juaquin Alamo Ramos</td>
          <td>12/12/2016 </td>
          <td>10:40 am </td>
          <td>10:40 am </td>
          <td class="text-center">20 min </td>
          <td class="text-center">20 min </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-check-plomo thimg1"></i></a></td>
        </tr>
        <tr>
          <td><a class="link-a" href="#">212930</a></td>
          <td>Barba</td>
          <td>Hombre</td>
          <td>Brenda Araujo Martinez</td>
          <td>Juaquin Alamo Ramos</td>
          <td>12/12/2016 </td>
          <td>10:40 am </td>
          <td>10:40 am </td>
          <td class="text-center">20 min </td>
          <td class="text-center">20 min </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-check-rojo thimg1"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 text-center contcategoria">
      <div class="col-xs-12 pgservicios nopaddingleft nopaddingright bordercategoria">
        <div class="col-xs-12 nopaddingleft">
          <div class="pull-right">
          <div class="paginado">
            <a href="#"><img src="images/Hb_web__ico_pag_atras.png"></a>
            <a href="#"><img src="images/Hb_web__ico_pag_siguente.png"></a>
          </div>
          <p class="ppaginado"> 8 de 25</p>
          </div>
        </div>
      </div>
    </div>
  </div>




</section>
