



<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title">Mapa</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">

    <form class="form-horizontal map-filters">
      <div class="col-xs-5">
        <div class="form-group">
          <label for="">Disponible</label>
          <input type="radio" name="name" value="disponible">
        </div>
        <div class="form-group">
          <label for="">En servicio</label>
          <input type="radio" name="name" value="enservicio">
        </div>
        <div class="form-group">
          <label for="">Todos</label>
          <input type="radio" name="name" value="todos">
        </div>
      </div>
      <div class="col-xs-4 col-xs-offset-3">
        <select class="form-control form-input pull-right" name="">
          <option>Todos los servicios</option>
          <option value="uno">uno</option>
          <option value="dos">dos</option>
        </select>
      </div>
    </form>


    <aside class="map-info col-xs-4">
      <span class="circle-text">Disponible</span>
      <span class="circle circle-red"></span>
      <span class="circle-text">En servicio</span>
      <span class="circle circle-gray"></span>
    </aside>

    <div id="map"></div>
  </div>




</section>
