<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title"><a href="javascript:history.back(1)"> <img class="btnatras" src="images/Hb_web__ico_atras_plomo.png"></a>Servicios</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content section_content-error">
    <button class="new-btn btn pull-right">Nuevo Servicio</button>

    <div class="col-xs-6 col-xs-offset-3 error-container">
      <img src="images/Hb_web__ic_mas.png" alt="" />
      <h1>No existen servicios</h1>
      <p>
        Agregue nuevos servicios a su lista
      </p>
    </div>
  </div>




</section>
