<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title">Reservas</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">
    <div class="col-xs-12">
    <table class="table datatable tableservicios">
      <thead>
        <th>Codigo</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Categoria</th>
        <th>Estado</th>
        <th>Cliente</th>
        <th>Estilista</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><a class="link-a" href="?detalle-reserva">212930</a></td>
          <td>12/12/2016</td>
          <td>10:40 pm</td>
          <td>Hombre</td>
          <td>Por asignar</td>
          <td>Juaquin Alamo Ramos</td>
          <td></td>
          <td class="text-center"><button class="btnre" href="#modal-asignar-estilista" data-toggle="modal">Asignar</button></td>
        </tr>
        <tr>
          <td><a class="link-a" href="?detalle-reserva">212930</a></td>
          <td>12/12/2016</td>
          <td>10:40 pm</td>
          <td>Mujer</td>
          <td>Por asignar</td>
          <td>Juaquin Alamo Ramos</td>
          <td></td>
          <td class="text-center"><button class="btnre" href="#modal-asignar-estilista" data-toggle="modal">Asignar</button></td>
        </tr>
        <tr>
          <td><a class="link-a" href="?detalle-reserva">212930</a></td>
          <td>12/12/2016</td>
          <td>10:40 pm</td>
          <td>Hombre</td>
          <td>Por asignar</td>
          <td>Juaquin Alamo Ramos</td>
          <td>Brenda Araujo Martinez</td>
          <td class="text-center"><button class="btnpl" href="#modal-reasignar-estilista" data-toggle="modal">Reasignar</button></td>
        </tr>
        <tr>
          <td><a class="link-a" href="?detalle-reserva">212930</a></td>
          <td>12/12/2016</td>
          <td>10:40 pm</td>
          <td>Mujer</td>
          <td>Por asignar</td>
          <td>Juaquin Alamo Ramos</td>
          <td>Brenda Araujo Martinez</td>
          <td class="text-center"><button class="btnpl" href="#modal-reasignar-estilista" data-toggle="modal">Reasignar</button></td>
        </tr>
        <tr>
          <td><a class="link-a" href="?detalle-reserva">212930</a></td>
          <td>12/12/2016</td>
          <td>10:40 pm</td>
          <td>Mujer</td>
          <td>Por asignar</td>
          <td>Juaquin Alamo Ramos</td>
          <td>Brenda Araujo Martinez</td>
          <td class="text-center"><button class="btnpl" href="#modal-reasignar-estilista" data-toggle="modal">Reasignar</button></td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-xs-12 text-center contcategoria">
      <div class="col-xs-12 nopaddingleft nopaddingright bordercategoria pgservicios">
        <div class="col-xs-12">
          <div class="pull-left">
            <span><img class="imgcalendar" src="images/Hb_web__ico_calendar.png"><a class="aplo" href="#modal-horario-reserva" data-toggle="modal">Horario de Reservas</a></span>
          </div>

          <div class="pull-right">
          <div class="paginado">
            <a href="#"><img src="images/Hb_web__ico_pag_atras.png"></a>
            <a href="#"><img src="images/Hb_web__ico_pag_siguente.png"></a>
          </div>
          <p class="ppaginado"> 8 de 25</p>
          </div>
        </div>
      </div>
    </div>
  </div>




</section>
