<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title">Servicios</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">
    <div class="pull-right">
      <div class="top-boton">
      <button onclick="window.location.href='?nuevo-servicio'" class="btn">Nueva Servicio</button>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-12 text-center contservicio">
        <div class="col-xs-12 categoria-td nopaddingleft nopaddingright bordercategoria">
          <div class="col-xs-12 nopaddingleft hservi">
            <div class="col-xs-2 nopaddingleft">
              <img src="images/imagen.jpg" class="imgservicios">
            </div>
            <div class="col-xs-4 topservicio">
              Corte y Secado
            </div>
            <div class="col-xs-6 nopaddingright">
              <div class="pull-right buttonservicio">
                <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Peluqueria</a></p>
                <a href="?editar-servicio"><i class="thimg-editar thimg"></i></a>
                <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 categoria-td nopaddingleft nopaddingright bordercategoria">
          <div class="col-xs-12 nopaddingleft hservi">
            <div class="col-xs-2 nopaddingleft">
                <img src="images/imagen.jpg" class="imgservicios">
            </div>
            <div class="col-xs-4 topservicio">
              Barbas
            </div>
            <div class="col-xs-6 nopaddingright">
              <div class="pull-right buttonservicio">
                <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Caballeros</a></p>
                <a href="?editar-servicio"><i class="thimg-editar thimg"></i></a>
                <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 categoria-td nopaddingleft nopaddingright bordercategoria">
          <div class="col-xs-12 nopaddingleft hservi">
            <div class="col-xs-2 nopaddingleft">
                <img src="images/imagen.jpg" class="imgservicios">
            </div>
            <div class="col-xs-4 topservicio">
              Lavado
            </div>
            <div class="col-xs-6 nopaddingright">
              <div class="pull-right buttonservicio">
                <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Peluqueria</a></p>
                <a href="?editar-servicio"><i class="thimg-editar thimg"></i></a>
                <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 categoria-td nopaddingleft nopaddingright bordercategoria">
          <div class="col-xs-12 nopaddingleft hservi">
            <div class="col-xs-2 nopaddingleft">
                <img src="images/imagen.jpg" class="imgservicios">
            </div>
            <div class="col-xs-4 topservicio">
              Uñas acrilicas
            </div>
            <div class="col-xs-6 nopaddingright">
              <div class="pull-right buttonservicio">
                <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Manicure</a></p>
                <a href="?editar-servicio"><i class="thimg-editar thimg"></i></a>
                <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 categoria-td nopaddingleft nopaddingright bordercategoria">
          <div class="col-xs-12 nopaddingleft hservi">
            <div class="col-xs-2 nopaddingleft">
                <img src="images/imagen.jpg" class="imgservicios">
            </div>
            <div class="col-xs-4 topservicio">
              Tinte claro
            </div>
            <div class="col-xs-6 nopaddingright">
              <div class="pull-right buttonservicio">
                <p class="text-redcategoria"><a class="text-red" data-toggle="modal" href="#modal-ver-servicios">Peluqueria</a></p>
                <a href="?editar-servicio"><i class="thimg-editar thimg"></i></a>
                <a data-toggle="modal" href="#modal-eliminar-categoria"><i class="thimg-cerrar thimg"></i></a>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-xs-12 text-center contcategoria">
        <div class="col-xs-12 nopaddingleft nopaddingright bordercategoria">
          <div class="col-xs-12 nopaddingleft hservi">
            <div class="pull-right">
            <div class="paginado">
              <a href="#"><img src="images/Hb_web__ico_pag_atras.png"></a>
              <a href="#"><img src="images/Hb_web__ico_pag_siguente.png"></a>
            </div>
            <p class="ppaginado"> 8 de 25</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>




</section>
