<section class="row section category-section nopadding">
  <header class="section_header">
    <h1 class="section_header_title">Usuarios</h1>
    <div class="pull-right">
      <p class="min text-right"><a href="#">Cerrar sesión</a></p>
      <p class="sub-min text-right">Bienvenida</p>
      <p class="nom-usuario">Brenda Araujo M.<img class="img-usu" src="images/Hb_web__ico_alerta.png"></p>
    </div>
  </header>

  <div class="section_content">
    <div class="pull-right">
      <div class="top-boton">
      <button onclick="window.location.href='?nuevo-usuario'" class="btn">Nuevo Usuario</button>
      </div>
    </div>

    <table class="table datatable">
      <tbody>
        <tr>
          <td class="altas">
            Brenda Alexandra Araujo Martinez
          </td>
          <td class="cursivas">
            Brenda.araujo@homebeauty.com
          </td>
          <td class="text-red">
            Administrador
          </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-editar thimg"></i></a></td>
          <td class="noborder imgth"><a data-toggle="modal" href="#modal-eliminar-usuario"><i class="thimg-cerrar thimg"></i></a></td>
        </tr>
        <tr>
          <td class="altas">
            José Manuel Marquez Locra
          </td>
          <td class="cursivas">
            Brenda.araujo@homebeauty.com
          </td>
          <td class="text-red">
            Contador
          </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-editar thimg"></i></a></td>
          <td class="noborder imgth"><a data-toggle="modal" href="#modal-eliminar-usuario"><i class="thimg-cerrar thimg"></i></a></td>
        </tr>
        <tr>
          <td class="altas">
            Brenda Alexandra Araujo Martinez
          </td>
          <td class="cursivas">
            Brenda.araujo@homebeauty.com
          </td>
          <td class="text-red">
            Supervisor
          </td>
          <td class="noborder imgth"><a href="?editar-usuario"><i class="thimg-editar thimg"></i></a></td>
          <td class="noborder imgth"><a data-toggle="modal" href="#modal-eliminar-usuario"><i class="thimg-cerrar thimg"></i></a></td>
        </tr>
      </tbody>
    </table>
  
  </div>




</section>
