<section class="row section category-section">
  <header class="section_header section_header_change-pass">
    <h1 class="section_header_title">Bienvenido</h1>
  </header>



  <div class="section_content section_content_pass-change">
    <h4>Cambie su contraseña actual</h4>



    <form class="form form-inline" action="" method="">
      <div class="form-group col-xs-3">
        <span class="ico ico-eyes show-password one"></span>
        <label for="">Contraseña actual</label>
        <input type="password" class="form-control form-input input-on-focus" value="">
      </div>
      <div class="form-group col-xs-3">
        <span class="ico ico-eyes show-password two"></span>
        <label for="">Nueva contraseña</label>
        <input type="password" class="form-control form-input input-on-focus" value="">
      </div>
      <div class="form-group col-xs-3">
        <span class="ico ico-eyes show-password three"></span>
        <label for="">Confirmar contraseña</label>
        <input type="password" class="form-control form-input input-on-focus" value="">
      </div>

      <div class="col-xs-6 col-xs-offset-6 form-buttons">
        <button class="btn btn-danger pull-right col-xs-3 col-xs-offset-1">Guardar</button>
        <button class="btn btn-default col-xs-3 pull-right col-xs-offset-1" data-dismiss="modal">Cancelar</button>
      </div>
    </form>
  </div>
</section>
