<section class="row section category-section">
  <header class="section_header">
    <h1 class="section_header_title">Catálogo</h1>


    <aside class="product-filter section_header_right form-inline section_header_right">
      <input type="search" name="name" class="form-control product-name gray3" placeholder="Buscar catálogo">

      <button type="submit" name="product-filter-form_submit" class="btn btn-danger btn-filter-search">Buscar</button>


      <div class="filter-footer col-xs-12">

        <a href="#" class="product-filter_btn product-filter_btn-edit-product">
          <span class="gray3 ico ico-download"></span>
          <span class="new-text">Descargar</span>
        </a>
        <a href="#" class="product-filter_btn product-filter_btn-edit-product" data-toggle="modal" data-target="#new-catalogue-modal">
          <span class="gray3 ico ico-upload"></span>
          <span class="new-text">Subir catálogo</span>
        </a>
        <a href="#" class="product-filter_btn product-filter_btn-edit-product" data-toggle="modal" data-target="#new-catalogue-modal">
          <span class="gray3 ico ico-edit"></span>
          <span class="new-text">Editar</span>
        </a>
        <a href="#" class="product-filter_btn product-filter_btn-edit-product product-filter_btn-last" data-toggle="modal" data-target="#delete-rol-modal">
          <span class="gray3 ico ico-delete"></span>
          <span class="new-text">Eliminar</span>
        </a>
      </div>
    </aside>

  </header>


  <div class="section_content">
    <table class="table datatable">
      <thead>
        <tr>
          <th>
            Documento
          </th>
          <th>
            Fecha
          </th>
          <th>
            Descripción
          </th>
          <th>
            Estado
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            12/12/2012
          </td>
          <td class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius viverra molestie. Vestibulum fringilla sapien non neque consequat congue sed sed est.
          </td>
          <td>
            <div class="table_radio-buttons table_radio-buttons-on" data-status="1">
              <span class="radio-buttons_ball"></span>
              <span class="radio-buttons_line"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            12/12/2016
          </td>
          <td class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius viverra molestie. Vestibulum fringilla sapien non neque consequat congue sed sed est.
          </td>
          <td>
            <div class="table_radio-buttons table_radio-buttons-on" data-status="1">
              <span class="radio-buttons_ball"></span>
              <span class="radio-buttons_line"></span>
            </div>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</section>
