<section class="row section category-section">
  <header class="section_header">
    <h1 class="section_header_title">Productos</h1>

    <aside class="product-filter section_header_right form-inline section_header_right">
      <a href="master-page.html?producto-nuevo" class="product-filter_btn product-filter_btn-new-product">
        <span class="gray3 ico ico-plus">+</span>
        <span class="new-text">Nuevo producto</span>
      </a>

      <select class="form-control form-select gray3 product-category" name="product-filter-form_category">
        <option selected disabled>Categoría</option>
        <option value="">Todas</option>
        <option value="Peluches">Peluches</option>
        <option value="Categoría">Categoría</option>
      </select>

      <input type="search" name="name" class="form-control product-name gray3" placeholder="Buscar productos">

      <button type="submit" name="product-filter-form_submit" class="btn btn-danger btn-filter-search">Buscar</button>


      <div class="filter-footer col-xs-12">
        <a href="master-page.html?producto-nuevo" class="product-filter_btn product-filter_btn-see-product">
          <span class="gray3 ico ico-eyes"></span>
          <span class="new-text">Ver</span>
        </a>
        <a href="#" class="product-filter_btn product-filter_btn-edit-product product-filter_btn-last">
          <span class="gray3 ico ico-edit"></span>
          <span class="new-text">Editar</span>
        </a>
      </div>
    </aside>
  </header>



  <div class="section_content">
    <table class="table datatable">
      <thead>
        <tr>
          <th>
            Imagen
          </th>
          <th>
            Nombre
          </th>
          <th>
            Categoría
          </th>
          <th>
            Código
          </th>
          <th>
            Fecha de registro
          </th>
          <th>
            Vigencia
          </th>
          <th>
            Precio
          </th>
          <th>
            Estado
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja dos
          </td>
          <td>
            Peluches
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
            <div class="table_radio-buttons table_radio-buttons-on" data-status="1">
              <span class="radio-buttons_ball"></span>
              <span class="radio-buttons_line"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja dos
          </td>
          <td>
            Peluches
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
            <div class="table_radio-buttons table_radio-buttons-on" data-status="1">
              <span class="radio-buttons_ball"></span>
              <span class="radio-buttons_line"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
        <tr>
          <td>
            <img src="images/40x40.png" alt="" />
          </td>
          <td>
            Caja grande con 12 Rosas caja uno
          </td>
          <td>
            Flores
          </td>
          <td>
            Código
          </td>
          <td>
            12/12/2012
          </td>
          <td>
            Sin vigencia
          </td>
          <td>
            S/.50.00
          </td>
          <td>
            <div class="table_radio-buttons table_radio-buttons-on" data-status="1">
              <span class="radio-buttons_ball"></span>
              <span class="radio-buttons_line"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>




</section>
