<section class="row section category-section">
  <header class="section_header section_header-inside-product">
    <a href="master-page.html?productos" class="section_header_arrow">
      <span class="fa fa-angle-left fa-2"></span>
      <span class="horizontal-line"></span>
    </a>
    <h1 class="section_header_title">Producto Nuevo</h1>

    <aside class="section_header_status">
      <span class="gray3 light section_header_title">Estado</span>
      <span class="gray1 section_header_detail">Habilitado</span>
    </aside>
  </header>




  <div class="section_content section_content-inside-product">
    <form id="form_content-inside-product" action="" method="">
      <div class="col-xs-4 inside-product_left">
        <img width="250" height="350" src="images/250x350.png" class="load-img-here product-img" />

        <div class="btn btn-gray btn-uploader-container">
          <input type="file" class="btn-upload-product-picture">
          <span class="btn-uploader-text">Subir</span>
        </div>

      </div>

      <div class="col-xs-8 inside-product_right">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="" class="gray4 light product_right_label">Código</label>
            <input type="text" name="name" class="form-control form-input gray3 text-uppercase product_right_text input-on-focus">
          </div>
          <div class="form-group">
            <label for="" class="gray4 light product_right_label">Código Grameco</label>
            <input type="text" name="name" class="form-control form-input gray3 text-uppercase product_right_text input-on-focus">
          </div>
          <div class="form-group">
            <label for="" class="gray4 light product_right_label">Seleccione una categoría</label>
            <select class="form-control form-input gray3 product_right_text input-on-focus" name="">
              <option disabled selected></option>
              <option value="uno">uno</option>
              <option value="unoso">uno</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="" class="gray4 light product_right_label">Permanencia de producto</label>
            <input type="checkbox" name="name" class="form-control form-input input-on-focus">
            <span class="gray3 checkbox-text">Siempre vigente</span>
          </div>
          <div class="form-group">
            <label for="" class="gray4 light product_right_label">Desde</label>
            <input type="text" name="name" class="form-control form-input gray3 text-uppercase product_right_text datepicker input-on-focus" data-date-format="dd/mm/yyyy" id="product_datepicker-since">
          </div>
          <div class="form-group">
            <label for="" class="gray4 light product_right_label">Hasta</label>
            <input type="text" name="name" class="form-control form-input gray3 text-uppercase product_right_text datepicker input-on-focus" data-date-format="dd/mm/yyyy" id="product_datepicker-until">
          </div>
        </div>

        <section class="col-xs-12 two-languages-texts" role="tablist">
          <aside class="language_tabs nav nav-tabs">
            <div role="presentation" class="tab_a left active"><a href="#product-spanish" class="text-uppercase gray4 left" aria-controls="product-spanish" role="tab" data-toggle="tab" aria-expanded="true">Español</a></div>
            <div role="presentation" class="tab_a"><a href="#product-english" class="text-uppercase gray4" aria-controls="product-english" role="tab" data-toggle="tab" aria-expanded="true">Inglés</a></div>
          </aside>

          <div class="language_content tab-content tab-content">
            <div class="language_content-all language_content-spanish tab-pane fade in active" role="tabpanel" id="product-spanish">
              <div class="form-group">
                <label class="gray4">Nombre de producto</label>
                <input type="text" class="form-input gray3 input-on-focus" value="wwweewew">
              </div>
              <div class="form-group">
                <label class="gray4">Descripción corta</label>
                <input type="text" class="form-input gray3 input-on-focus" value="ffff">
              </div>
              <div class="form-group">
                <label class="gray4">Descripción larga</label>
                <textarea class="form-input gray3 input-on-focus">zzzz</textarea>
              </div>
            </div>
            <div class="language_content-all language_content-english tab-pane fade" role="tabpanel" id="product-english">
              <div class="form-group">
                <label class="gray4">Nombre de producto</label>
                <input type="text" class="form-input gray3 input-on-focus" value="aaa">
              </div>
              <div class="form-group">
                <label class="gray4">Descripción corta</label>
                <input type="text" class="form-input gray3 input-on-focus" value="dddd">
              </div>
              <div class="form-group">
                <label class="gray4">Descripción larga</label>
                <textarea class="form-input gray3 input-on-focus">ccc</textarea>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="inside-product_bottom">
        <div class="col-xs-4">
          <div class="form-group">
            <label class="gray4 light">Seleccione el país</label>
            <select class="form-control form-input gray1 input-on-focus" name="">
              <option disabled selected></option>
              <option value="uno">uno</option>
              <option value="unoso">uno</option>
            </select>
          </div>

          <div class="form-group">
            <label class="gray4 light">Stock de almacenes</label>
            <table class="table">
              <thead>
                <tr>
                  <th class="gray4">
                    País
                  </th>
                  <th class="gray4">
                    Almacén
                  </th>
                  <th class="gray4">
                    Stock
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Perú
                  </td>
                  <td>
                    Almacén 01
                  </td>
                  <td>
                    20
                  </td>
                </tr>
                <tr>
                  <td>
                    Perú
                  </td>
                  <td>
                    Almacén 01
                  </td>
                  <td>
                    20
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="gray4 light">Stock mínimo</label>
            <select class="form-control form-input gray1 input-on-focus" name="">
              <option disabled selected></option>
              <option value="uno">uno</option>
              <option value="unoso">uno</option>
            </select>
          </div>

          <div class="form-group">
            <label class="gray4 light">Stock de almacenes</label>
            <table class="table">
              <thead>
                <tr>
                  <th class="gray4">
                    País
                  </th>
                  <th class="gray4">
                    Almacén
                  </th>
                  <th class="gray4">
                    Stock
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Perú
                  </td>
                  <td>
                    Soles
                  </td>
                  <td>
                    S/.20.00
                  </td>
                </tr>
                <tr>
                  <td>
                    Perú
                  </td>
                  <td>
                    Dólares
                  </td>
                  <td>
                    US$20.00
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="gray4 light">Seleccione colores</label>
            <select class="form-control form-input gray1 input-on-focus" name="">
              <option disabled selected></option>
              <option value="uno">uno</option>
              <option value="unoso">uno</option>
            </select>
          </div>

          <div class="form-group">
            <label class="gray4 light">Código de colores</label>
            <table class="table">
              <thead>
                <tr>
                  <th class="gray4">
                    Color
                  </th>
                  <th class="gray4">
                    Código
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Rojo
                  </td>
                  <td>
                    R14
                  </td>
                </tr>
                <tr>
                  <td>
                    Verde
                  </td>
                  <td>
                    V10
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 inside-product_buttons">
        <button class="btn btn-danger pull-right col-xs-2 col-xs-offset-1">Crear</button>
        <button class="btn btn-default col-xs-2 pull-right col-xs-offset-1">Cancelar</button>
      </div>
    </form>

  </div>
</section>
