<section class="row section category-section">
  <header class="section_header">
    <h1 class="section_header_title">Roles</h1>

    <aside class="product-filter section_header_right form-inline section_header_right">
      <a href="#" class="product-filter_btn product-filter_btn-new-product" data-toggle="modal" data-target="#new-rol-modal">
        <span class="gray3 ico ico-plus">+</span>
        <span class="new-text">Nuevo rol</span>
      </a>


      <input type="search" name="name" class="form-control product-name gray3" placeholder="Buscar roles">

      <button type="submit" name="product-filter-form_submit" class="btn btn-danger btn-filter-search">Buscar</button>


      <div class="filter-footer col-xs-12">
        <a href="#" class="product-filter_btn product-filter_btn-see-product" data-toggle="modal" data-target="#view-rol-modal">
          <span class="gray3 ico ico-eyes"></span>
          <span class="new-text">Ver</span>
        </a>
        <a href="#" class="product-filter_btn product-filter_btn-edit-product" data-toggle="modal" data-target="#new-rol-modal">
          <span class="gray3 ico ico-edit"></span>
          <span class="new-text">Editar</span>
        </a>
        <a href="#" class="product-filter_btn product-filter_btn-edit-product product-filter_btn-last" data-toggle="modal" data-target="#delete-rol-modal">
          <span class="gray3 ico ico-delete"></span>
          <span class="new-text">Eliminar</span>
        </a>
      </div>
    </aside>
  </header>



  <div class="section_content">
    <table class="table datatable">
      <thead>
        <tr>
          <th>
            Roles
          </th>
          <th>
            Permisos
          </th>
          <th>
            Estado
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Editor de imagen
          </td>
          <td>
            Usuario, Roles, Productos
          </td>
          <td>
            <div class="table_radio-buttons table_radio-buttons-on" data-status="1">
              <span class="radio-buttons_ball"></span>
              <span class="radio-buttons_line"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Creador de usuario
          </td>
          <td>
            Usuario, Roles, Productos
          </td>
          <td>
            <div class="table_radio-buttons table_radio-buttons-on" data-status="1">
              <span class="radio-buttons_ball"></span>
              <span class="radio-buttons_line"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>




</section>
