<section class="row section category-section">
  <header class="section_header">
    <h1 class="section_header_title">Usuarios</h1>

    <aside class="product-filter section_header_right form-inline section_header_right">
      <a href="#" class="product-filter_btn product-filter_btn-new-product" data-toggle="modal" data-target="#new-user-modal">
        <span class="gray3 ico ico-plus">+</span>
        <span class="new-text">Nuevo usuario</span>
      </a>


      <input type="search" name="name" class="form-control product-name gray3" placeholder="Buscar usuarios">

      <button type="submit" name="product-filter-form_submit" class="btn btn-danger btn-filter-search">Buscar</button>


      <div class="filter-footer col-xs-12">
        <a href="#" class="product-filter_btn product-filter_btn-see-product">
          <span class="gray3 ico ico-eyes"></span>
          <span class="new-text" data-toggle="modal" data-target="#view-user-modal">Ver</span>
        </a>
        <a href="#" class="product-filter_btn product-filter_btn-edit-product" data-toggle="modal" data-target="#new-user-modal">
          <span class="gray3 ico ico-edit"></span>
          <span class="new-text">Editar</span>
        </a>
        <a href="#" class="product-filter_btn product-filter_btn-edit-product" data-toggle="modal" data-target="#restore-user-pass-modal">
          <span class="gray3 ico ico-recover"></span>
          <span class="new-text">Restaurar contraseña</span>
        </a>
        <a href="#" class="product-filter_btn product-filter_btn-edit-product product-filter_btn-last" data-toggle="modal" data-target="#delete-rol-modal">
          <span class="gray3 ico ico-delete"></span>
          <span class="new-text">Eliminar</span>
        </a>
      </div>
    </aside>
  </header>



  <div class="section_content">
    <table class="table datatable">
      <thead>
        <tr>
          <th>
            Nombres
          </th>
          <th>
            Correo electrónico
          </th>
          <th>
            Teléfono
          </th>
          <th>
            DNI
          </th>
          <th>
            Estado
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Alejandro Villenas Carrio
          </td>
          <td>
            aa@bb.com
          </td>
          <td>
            999 666 333
          </td>
          <td>
            44448888
          </td>
          <td>
            <div class="table_radio-buttons table_radio-buttons-on" data-status="1">
              <span class="radio-buttons_ball"></span>
              <span class="radio-buttons_line"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Daniel La Rosa Duarte
          </td>
          <td>
            daniel@bb.com
          </td>
          <td>
            999 666 333
          </td>
          <td>
            44448888
          </td>
          <td>
            <div class="table_radio-buttons table_radio-buttons-on" data-status="1">
              <span class="radio-buttons_ball"></span>
              <span class="radio-buttons_line"></span>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>




</section>
