@font-face {
  font-family: 'FontAwesome';
  src: url("../files/fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../files/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format('embedded-opentype'), url("../files/fonts/fontawesome-webfont.woff2?v=4.4.0") format('woff2'), url("../files/fonts/fontawesome-webfont.woff?v=4.4.0") format('woff'), url("../files/fonts/fontawesome-webfont.ttf?v=4.4.0") format('truetype'), url("../files/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.black {
  color: #000;
}
.red {
  color: #c32e26;
}
.red2 {
  color: #a0251e;
}
.gray1 {
  color: #333;
}
.gray2 {
  color: #666;
}
.gray3 {
  color: #808080;
}
.gray4 {
  color: #b3b3b3;
}
.gray5 {
  color: #e6e6e6;
}
.white1 {
  color: #fafafa;
}
.white2 {
  color: #fff;
}
/* normalize.css v1.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:link,
a:visited,
a:hover,
a:focus,
button:active,
button:hover,
button:visited,
button:focus,
input:focus {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html * {
  font-family: 'Roboto', arial, helvetica;
  color: #808080;
}
main {
  font-size: 1.6rem;
}
html,
body {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
*:focus {
  outline: none !important;
}
::-webkit-input-placeholder {
  color: #808080;
}
:-moz-placeholder {
/* Firefox 18- */
  color: #808080;
}
::-moz-placeholder {
/* Firefox 19+ */
  color: #808080;
}
:-ms-input-placeholder {
  color: #808080;
}
.btn {
  height: 30px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 13px;
}
input[type="text"],
input[type="search"] {
  font-size: 13px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/select-arrow.png") no-repeat center right transparent !important;
}
select[multiple] {
  height: 74px;
}
.form-input {
  height: 30px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-input:hover,
.form-input:focus {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-select {
  height: 30px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-select:hover,
.form-select:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.multiselect-container>li>a>label {
  padding: 0 0 0 20px;
}
.form-group {
  position: relative;
}
.form-group label {
  font-weight: 500;
  font-size: 13px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.form-group label+ input[type="text"],
.form-group label+ select {
  padding: 0;
  font-weight: 500;
  font-size: 14px;
}
.form-group label.on {
  color: #c32e26;
}
.form-group .input-on-focus {
  padding: 0;
  margin-bottom: 10px;
  display: block;
  clear: both;
}
.form-group .input-on-focus:focus {
  color: #333;
  border-color: #c32e26;
}
.form-group .show-password {
  position: absolute;
  top: 5px;
  left: auto;
  right: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.form-group .show-password:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.form-group textarea {
  resize: none;
}
.display-table {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.display-table .display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.big-center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  max-width: 1200px;
}
.center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  max-width: 980px;
}
.small-center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  max-width: 310px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.none {
  display: none;
}
.error {
  border: 1px solid #f00 !important;
}
.error-message {
  width: 100%;
  font-size: 12px;
  height: 20px;
  display: block;
  margin-top: 3px;
}
.ico {
  display: inline-block;
}
.ico-dots {
  background-image: url("../images/sprite.png");
  background-position: -54px 0px;
  width: 24px;
  height: 25px;
}
.ico-user {
  background-image: url("../images/sprite.png");
  background-position: -20px -56px;
  width: 20px;
  height: 20px;
}
.ico-lock {
  background-image: url("../images/sprite.png");
  background-position: 0px -56px;
  width: 20px;
  height: 20px;
}
.ico-eyes {
  background-image: url("../images/sprite.png");
  background-position: -48px -31px;
  width: 24px;
  height: 25px;
}
.ico-edit {
  background-image: url("../images/sprite.png");
  background-position: -24px -31px;
  width: 24px;
  height: 25px;
}
.ico-delete {
  background-image: url("../images/sprite.png");
  background-position: -30px 0px;
  width: 24px;
  height: 25px;
}
.ico-selected {
  background-image: url("../images/sprite.png");
  background-position: 0px 0px;
  width: 30px;
  height: 31px;
}
.ico-recover {
  background-image: url("../images/sprite.png");
  background-position: -78px 0px;
  width: 24px;
  height: 25px;
}
.ico-download {
  background-image: url("../images/sprite.png");
  background-position: 0px -31px;
  width: 24px;
  height: 25px;
}
.ico-upload {
  background-image: url("../images/sprite.png");
  background-position: -78px -25px;
  width: 24px;
  height: 25px;
}
.title {
  font-size: 22px;
  color: #b3b3b3;
  font-weight: 300;
}
.btn {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-danger {
  border-color: #c32e26;
  background-color: #c32e26;
}
.btn-danger:hover {
  border-color: #a0251e;
  background-color: #a0251e;
}
.btn-gray {
  color: #fff;
  background-color: #b3b3b3;
}
.btn-default {
  border: none;
  color: #808080;
  font-weight: 500;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:visited {
  border: none;
  color: #808080;
  background-color: transparent;
}
.modal-title {
  color: #c32e26;
}
.modal-header {
  margin: 0;
}
.modal-header .close {
  margin-top: -15px;
  font-size: 50px;
  font-weight: 100;
}
.modal-body {
  padding-bottom: 40px;
  font-size: 16px;
  margin: 0;
}
.modal-header_aside {
  position: absolute;
  top: -3px;
  right: 20px;
}
.modal-header_aside .modal-header_aside_title {
  font-size: 13px;
  display: block;
  clear: both;
  text-align: right;
}
.modal-header_aside .modal-header_aside_detail {
  font-size: 13px;
  display: block;
  clear: both;
  text-align: right;
  padding: 0;
}
.moda-footer {
  padding: 20px 15px;
}
.icheckbox_square-grey.checked {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.table tr.tr-selected {
  background: rgba(195,46,38,0.2);
}
.table tr.tr-disabled > * {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.table thead {
  background-color: #fafafa;
  height: 35px;
  border: none;
}
.table th {
  padding: 8px 15px !important;
  font-size: 11px;
  border-bottom: none !important;
  cursor: pointer;
}
.table td {
  height: 50px;
  padding: 0 15px !important;
  margin: 0;
  line-height: 50px !important;
  font-size: 13px;
  border-top: none !important;
  font-weight: 400;
}
.table td.text {
  line-height: 1.5 !important;
}
.table_radio-buttons {
  width: 40px;
  height: 20px;
  margin-top: 13px;
  position: relative;
}
.table_radio-buttons .radio-buttons_ball {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  -webkit-transition: left 0.3s, background-color 0.3s, border-color 0.3s;
  -moz-transition: left 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: left 0.3s, background-color 0.3s, border-color 0.3s;
  -ms-transition: left 0.3s, background-color 0.3s, border-color 0.3s;
  transition: left 0.3s, background-color 0.3s, border-color 0.3s;
}
.table_radio-buttons .radio-buttons_line {
  width: 40px;
  height: 2px;
  display: inline-block;
  margin: 0 0 17px 0;
  background-color: #a0251e;
  -webkit-transition: background-color 0.3s 0.1s;
  -moz-transition: background-color 0.3s 0.1s;
  -o-transition: background-color 0.3s 0.1s;
  -ms-transition: background-color 0.3s 0.1s;
  transition: background-color 0.3s 0.1s;
}
.table_radio-buttons.table_radio-buttons-on .radio-buttons_ball {
  left: 20px;
  border: 2px solid #c32e26;
  background-color: #c32e26;
}
.table_radio-buttons.table_radio-buttons-on .radio-buttons_line {
  background-color: #c32e26;
}
.table_radio-buttons.table_radio-buttons-off .radio-buttons_ball {
  left: 0px;
  border: 2px solid #666;
  background-color: #fff;
}
.table_radio-buttons.table_radio-buttons-off .radio-buttons_line {
  background-color: #b3b3b3;
}
.load-img-here {
  display: block;
  margin: 0 auto;
}
.btn-uploader-container {
  position: relative;
  cursor: pointer;
  width: 120px;
  display: block;
  clear: both;
  margin: 30px auto 0 auto;
}
.btn-uploader-container .btn-uploader-text {
  cursor: pointer;
  color: #fff;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
}
.btn-uploader-container input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.two-languages-texts {
  margin-top: 50px;
  border: 1px solid #b3b3b3;
  position: relative;
}
.two-languages-texts input,
.two-languages-texts textarea {
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 500;
}
.two-languages-texts textarea {
  height: 70px !important;
}
.two-languages-texts .tab-content {
  padding: 20px 10px;
}
.language_tabs {
  position: absolute;
  left: 0;
  top: -30px;
}
.language_tabs .tab_a {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 7px;
}
.language_tabs .tab_a.left {
  margin-right: 25px;
}
.language_tabs .tab_a * {
  padding-bottom: 7px;
  text-decoration: none;
}
.language_tabs .tab_a *:visited {
  color: #b3b3b3;
}
.language_tabs .tab_a.active *,
.language_tabs .tab_a:hover * {
  color: #c32e26;
  border-bottom: 2px solid #f00;
}
.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
#deactivate-product-modal .modal-dialog,
#delete-rol-modal .modal-dialog,
#restore-user-pass-modal .modal-dialog {
  width: 360px;
}
#new-rol-modal .modal-dialog,
#view-rol-modal .modal-dialog,
#new-category-modal .modal-dialog {
  width: 600px;
}
#new-rol-modal .new-rol_description,
#view-rol-modal .new-rol_description,
#new-category-modal .new-rol_description {
  font-size: 12px;
  margin: 23px 0;
  display: block;
}
#new-rol-modal .new-rol_permits > div,
#view-rol-modal .new-rol_permits > div,
#new-category-modal .new-rol_permits > div {
  margin-bottom: 25px;
}
#new-rol-modal .role-title,
#view-rol-modal .role-title,
#new-category-modal .role-title {
  width: 100%;
  margin-top: 0;
  font-size: 25px;
  font-weight: 500;
}
#new-category-modal .modal-dialog {
  width: 600px;
}
#new-category-modal .category-img {
  border: 1px solid #b3b3b3;
  display: block;
  margin: 0 auto;
}
#new-user-modal .modal-dialog,
#view-user-modal .modal-dialog {
  width: 700px;
}
#new-user-modal .modal-body,
#view-user-modal .modal-body {
  padding-top: 25px;
}
#new-user-modal .multiselect-group .btn-default,
#new-category-modal .multiselect-group .btn-default {
  width: 100%;
  text-align: left;
  text-transform: none;
  background: url("../images/select-arrow.png") no-repeat center right transparent !important;
  border-bottom: 1px solid #e6e6e6;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#new-user-modal .multiselect-group .btn-group,
#new-category-modal .multiselect-group .btn-group {
  height: 38px;
  display: block;
}
#new-user-modal .multiselect-group .btn-group.open .dropdown-toggle,
#new-category-modal .multiselect-group .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
}
#new-user-modal .multiselect-group .btn-group>.btn:first-child,
#new-category-modal .multiselect-group .btn-group>.btn:first-child {
  padding-left: 0;
}
#set-default-country-modal .modal-dialog {
  width: 390px;
}
#new-catalogue-modal .modal-dialog {
  width: 800px;
}
#new-catalogue-modal .btn-uploader-container.two {
  margin: 0;
  width: 30%;
  clear: none;
}
#new-catalogue-modal .input-file-container {
  width: 100%;
  height: 31px;
}
.main_menu {
  width: 270px;
  height: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 2;
  border-right: 1px solid #e6e6e6;
}
.main_menu .menu_logo {
  display: block;
  margin: 35px auto;
}
.main_menu .menu_title {
  font-weight: 300;
  margin-bottom: 3px;
  font-size: 26px;
}
.main_menu .menu_options {
  width: 100%;
  float: left;
  position: relative;
}
.main_menu .menu_options:hover .menu_options_list {
  display: block;
}
.main_menu .menu_options .menu_options_name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 25px;
  overflow: hidden;
}
.main_menu .menu_options .menu_options_name .ico-dots {
  float: right;
  line-height: 20px;
}
.main_menu .menu_options .menu_options_list {
  width: 150px;
  position: absolute;
  right: 20px;
  top: 25px;
  -webkit-box-shadow: 0px 2px 11px #333;
  box-shadow: 0px 2px 11px #333;
  z-index: 2;
  background: #fff;
  display: none;
}
.main_menu .menu_options .menu_options_list .option {
  width: 100%;
  height: 32px;
  padding: 0 15px;
  display: block;
  font-size: 13px;
  vertical-align: middle;
  line-height: 32px;
  font-weight: 500;
  text-decoration: none;
}
.main_menu .menu_options .menu_options_list .option:hover {
  color: #000;
}
.main_menu .menu_options .menu_options_list .bg-gray {
  background-color: #e6e6e6;
}
.main_menu .menu_options-container {
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.main_menu #menu-options {
  margin-top: 15px;
  margin-bottom: 10px;
}
.main_menu #menu-options .form-control {
  width: 45%;
  padding: 0;
  font-size: 12px;
}
.main_menu .nav_link {
  display: block;
  clear: both;
  color: #333;
  margin-top: 22px;
  font-size: 15px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}
.main_menu .nav_link:hover,
.main_menu .nav_link.on {
  color: #f00;
}
.main_content {
  height: 100%;
  margin-left: 270px;
}
.section .section_header {
  min-width: 890px;
  padding-top: 25px;
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  width: calc(100% - 270px);
  background: #fff;
  z-index: 2;
}
.section .section_header.section_header-inside-product {
  padding-bottom: 15px;
}
.section .section_header_title {
  width: 25%;
  float: left;
  color: #666;
  font-size: 30px;
  padding: 0 0 0 20px;
  margin: 0;
  font-weight: 100;
}
.category-section .section_header_arrow {
  float: left;
  margin: -5px 0 0px 15px;
}
.category-section .section_header_arrow .fa-angle-left {
  float: left;
  font-size: 38px;
}
.category-section .section_header_arrow .horizontal-line {
  float: left;
  width: 18px;
  height: 3px;
  display: inline-block;
  margin: 19px 0 0 -10px;
  background-color: #808080;
}
.category-section .section_header_right {
  width: 75%;
  float: left;
  padding-right: 20px;
}
.category-section .section_header_status {
  position: absolute;
  top: 18px;
  right: 20px;
}
.category-section .section_header_status .section_header_title {
  font-size: 13px;
  display: block;
  clear: both;
  text-align: right;
}
.category-section .section_header_status .section_header_detail {
  font-size: 13px;
  display: block;
  clear: both;
  text-align: right;
  padding: 0;
}
.category-section .product-filter {
  text-align: right;
}
.category-section .product-filter .product-name {
  margin: 0 10px 0 30px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.category-section .product-filter .product-category {
  width: 165px;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
}
.category-section .product-filter .btn {
  width: 100px;
}
.category-section .product-filter .filter-footer {
  height: 30px;
  margin: 8px 0 5px 0;
  padding: 0;
}
.category-section .product-filter .filter-footer .product-filter_btn {
  display: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.category-section .product-filter .product-filter_btn {
  background: transparent;
  border: none;
  margin-right: 30px;
  text-decoration: none;
}
.category-section .product-filter .product-filter_btn.product-filter_btn-last {
  margin-right: 0;
}
.category-section .product-filter .product-filter_btn.filter_btn-visible {
  display: inline-block;
}
.category-section .product-filter .product-filter_btn .new-text {
  font-size: 15px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
}
.category-section .product-filter .product-filter_btn .ico {
  line-height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  font-size: 28px;
  font-weight: 300;
}
.category-section .dataTables_filter label {
  display: none;
}
.category-section .dataTables_filter .product-name {
  display: none;
}
.section_content {
  min-width: 950px;
  position: relative;
  left: 0;
  top: 105px;
}
.login-section .login-section_logo {
  display: block;
  margin: 100px auto 80px auto;
}
#login-form .login-form_btn {
  margin-top: 45px;
}
#login-form .ico-lock,
#login-form .ico-user {
  position: absolute;
  left: 3px;
  top: 5px;
}
#login-form .form-group {
  position: relative;
}
#login-form .form-group.last {
  margin-top: 33px;
}
#login-form .form-input {
  padding: 6px 33px;
}
.section_content-inside-product {
  padding: 50px;
  top: 79px;
}
.section_content-inside-product .product-img {
  width: 250px;
  height: 350px;
  border: 1px solid #b3b3b3;
  display: block;
  margin: 0 auto;
}
.section_content-inside-product .btn-uploader-container {
  width: 120px;
  display: block;
  clear: both;
  margin: 30px auto 0 auto;
}
.section_content-inside-product .inside-product_right .form-group {
  margin-bottom: 25px;
}
.section_content-inside-product .inside-product_right .product_right_label,
.section_content-inside-product .inside-product_right .product_right_text {
  padding: 0;
  clear: both;
  display: block;
}
.section_content-inside-product .inside-product_right .checkbox-text {
  margin: 0 0 7px 5px;
  display: inline-block;
}
.section_content-inside-product .two-languages-texts {
  height: 300px;
}
.section_content-inside-product .inside-product_bottom {
  width: 100%;
  float: left;
  margin-top: 25px;
  padding-top: 35px;
  border-top: 1px solid #e6e6e6;
}
.section_content-inside-product .inside-product_bottom .form-group {
  margin-bottom: 40px;
}
.section_content-inside-product .inside-product_bottom thead {
  background-color: transparent;
  border-bottom: 1px solid #e6e6e6;
}
.section_content-inside-product .inside-product_bottom td {
  font-size: 14px;
}
.section_content-inside-product .inside-product_buttons {
  border-top: 1px solid #e6e6e6;
  padding: 20px 0;
  margin: 20px 0;
}
.section_header_change-pass {
  padding-bottom: 15px;
}
.section_content_pass-change {
  padding: 0 60px;
}
.section_content_pass-change .show-password {
  top: 29px;
}
.section_content_pass-change .form-group {
  padding: 0;
  margin-right: 70px;
}
.section_content_pass-change .form-group input {
  width: 100%;
}
.section_content_pass-change .form-buttons {
  margin-top: 80px;
}
.loading-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: url("../images/bg-black.png") repeat transparent;
  display: none;
}
.loading-layer .loading-ico-container {
  width: 55px;
  height: 55px;
  background: #000;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -27px 0 0 -27px;
}
.loading-layer .loading-ico {
  display: inline-block;
  margin-top: 5px;
}
.alert-container {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transition: bottom 0.4s;
  -moz-transition: bottom 0.4s;
  -o-transition: bottom 0.4s;
  -ms-transition: bottom 0.4s;
  transition: bottom 0.4s;
}
.dataTables_length {
  display: none;
}
